.article {
  font-family: 'Roboto', sans-serif;
}

.article .comment {

}

.article .title {
  line-height: 1.2;
  font-size: 32px;
  margin: 24px 0;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.article .subtitle {
  line-height: 1.8;
  font-size: 24px;
  margin: 24px 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}

.article .callout {
  padding: 20px;
  margin: 20px 0;
  border-radius: 3px;
  border: 1px solid #eee;
  border-left: 2px solid #aa6708;
}

.article .paragraph {
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  letter-spacing: -.003em;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.article .panel-body {
  font-style: italic;
}

.article td, .article th {
  text-align: center;
  vertical-align: middle !important;
}

.article .well-sm {
  text-align: center !important;
}
