.books-item {
  background-color: #333333;
  height: 400px;
  margin-top: 30px;
}

.books-item .container {
  width: 920px;
}

.books-item img {
  height: 400px;
  padding: 20px 0;
}

.books-info {
  height: 400px;
  padding: 80px 0;
}

.books-item .title {
  color: white;
  font-size: 36px;
  font-weight: 600;
  padding-top: 16px;
  line-height: 1.2;
}

.books-item .subtitle {
  color: white;
  font-size: 14px;
  padding-top: 16px;
}

.books-item .button {
  padding-top: 16px;
}
