@media screen and (max-width: 920px) {
  #books-carousel {
    margin-top: -430px;
  }
}

.books-item {
  background-color: #333333;
  height: 400px;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.books-item .container {
  width: 920px;
}

.books-item img {
  height: 400px;
  padding: 20px 0;
}

.books-item .col-md-6 {
  height: 400px;
  position: relative;
}

.books-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.books-item .title {
  color: white;
  font-size: 36px;
  font-weight: 600;
  margin: 20px 0 10px;
  line-height: 1.2;
}

.books-item .subtitle {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.books-item .button {
  margin-bottom: 10px;
}
