<div class="row">
  <div class="article">
    <div class="title">
      Коллективная разработка ПО
    </div>
    <div class="paragraph">
      Коллективная разработка ПО является частью основной профессиональной образовательной программы «Участие в
      интеграции программных модулей» и соответствующих профессиональных компетенций (ПК):
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1. Анализировать проектную и техническую документацию на уровне взаимодействия компонент программного
        обеспечения. 
      </li>
      <li class="list-group-item">
        2. Выполнять интеграцию модулей в программную систему.
      </li>
      <li class="list-group-item">
        3. Выполнять отладку программного продукта с использованием специализированных программных средств. 
      </li>
      <li class="list-group-item">
        4. Осуществлять разработку тестовых наборов и тестовых сценариев.
      </li>
      <li class="list-group-item">
        5. Производить инспектирование компонент программного продукта на предмет соответствия стандартам кодирования.
      </li>
      <li class="list-group-item">
        6. Разрабатывать технологическую документацию.
      </li>
    </ul>
    <div class="paragraph">
      Программа быть использована в дополнительном профессиональном образовании по подготовке и переподготовке
      специалистов предприятий, имеющих профессиональное образование в области информационных технологий и опыт
      деятельности в организациях соответствующей профессиональной сферы, а также в подготовке и переподготовке
      специалистов при освоении профессий рабочего 230103.02 Мастер по обработке цифровой информации.
    </div>
    <div class="paragraph">
      С целью овладения указанным видом профессиональной деятельности и соответствующими профессиональными компетенциями
      обучающийся в ходе освоения профессионального модуля должен:
    </div>
    <div class="subtitle">
      Иметь практический опыт
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        — участия в выработке требований к программному обеспечению;
      </li>
      <li class="list-group-item">
        — участия в проектировании программного обеспечения с использованием специализированных программных пакетов;
      </li>
    </ul>
    <div class="subtitle">
      Уметь
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        — владеть основными методологиями процессов разработки программного обеспечения;
      </li>
      <li class="list-group-item">
        — использовать методы для получения кода с заданной функциональностью и степенью качества;
      </li>
    </ul>
    <div class="subtitle">
      Знать
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        — модели процесса разработки программного обеспечения;
      </li>
      <li class="list-group-item">
        — модели процесса разработки программного обеспечения;
      </li>
      <li class="list-group-item">
        — основные принципы процесса разработки программного обеспечения;
      </li>
      <li class="list-group-item">
        — основные подходы к интегрированию программных модулей;
      </li>
      <li class="list-group-item">
        — основные методы и средства эффективной разработки;
      </li>
      <li class="list-group-item">
        — основы верификации и аттестации программного обеспечения;
      </li>
      <li class="list-group-item">
        — концепции и реализации программных процессов;
      </li>
      <li class="list-group-item">
        — принципы построения, структуры и приемы работы с инструментальными средствами, поддерживающими создание
        программного обеспечения;
      </li>
      <li class="list-group-item">
        — методы организации работы в коллективах разработчиков программного обеспечения;
      </li>
      <li class="list-group-item">
        — основные положения метрологии программных продуктов, принципы построения, проектирования и использования
        средств для измерений характеристик и параметров программ, программных систем и комплексов;
      </li>
      <li class="list-group-item">
        — стандарты качества программного обеспечения;
      </li>
      <li class="list-group-item">
        — методы и средства разработки программной документации.
      </li>
    </ul>
  </div>
</div>
