<div class="row">
  <div class="article">
    <div class="title">
      Инструментальные средства разработки. История языков программирования
    </div>
    <div class="paragraph">
      В процессе разработки программных средств в той или иной мере используется компьютерная поддержка процессов
      разработки ПС.
    </div>
    <div class="paragraph">
       Это достигается путем представления хотя бы некоторых программных документов ПС (прежде всего, программ) на
      компьютерных носителях данных (например, дисках) и предоставлению в распоряжение разработчика ПС специальных
      ПС или включенных в состав компьютера специальных устройств, созданных для какой-либо обработки таких документов.
    </div>
    <div class="paragraph callout">
      В качестве такого специального ПС можно указать компилятор с какого-либо языка программирования. 
    </div>
    <div class="paragraph">
      Компилятор избавляет разработчика ПС от необходимости писать программы на языке компьютера, который для
      разработчика ПС был бы крайне неудобен, - вместо этого он составляет программы на удобном ему языке
      программирования, которые соответствующий компилятор автоматически переводит на язык компьютера. 
    </div>
    <div class="paragraph callout">
      В качестве специального устройства, поддерживающего процесс разработки ПС, может служить эмулятор какого-либо
      языка. 
    </div>
    <div class="paragraph">
      Эмулятор позволяет выполнять (интерпретировать) программы на языке, отличном от языка компьютера, поддерживающего
      разработку ПС, например на языке компьютера, для которого эта программа предназначена.
    </div>
    <div class="paragraph">
      ПС, предназначенное для поддержки разработки других ПС, будем называть программным инструментом разработки ПС, а
      устройство компьютера, специально предназначенное для поддержки разработки ПС, будем называть аппаратным
      инструментом разработки ПС.
    </div>
    <div class="paragraph">
      Инструменты разработки ПС могут использоваться в течении всего жизненного цикла ПС для работы с разными
      программными документами. Так текстовый редактор может использоваться для разработки практически любого
      программного документа. 
    </div>
    <div class="paragraph">
      С точки зрения функций, которые инструменты выполняют при разработке ПС, их можно разбить на следующие четыре
      группы:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1. Редакторы
      </li>
      <li class="list-group-item">
        2. Анализаторы
      </li>
      <li class="list-group-item">
        3. Преобразователи
      </li>
      <li class="list-group-item">
        4. ыИнструменты, поддерживающие процесс выполнения программ
      </li>
    </ul>
    <div class="paragraph">
      <b>Редакторы</b> поддерживают конструирование (формирование) тех или иных программных документов на различных
      этапах
      жизненного цикла. 
    </div>
    <div class="paragraph">
      Как уже упоминалось, для этого можно использовать один какой-нибудь универсальный текстовый редактор. 
    </div>
    <div class="paragraph">
      Однако, более сильную поддержку могут обеспечить специализированные редакторы: для каждого вида документов - свой
      редактор. В частности, на ранних этапах разработки в документах могут широко использоваться графические средства
      описания (диаграммы, схемы и т.п.). В таких случаях весьма полезными могут быть графические редакторы. 
    </div>
    <div class="paragraph">
      На этапе программирования (кодирования) вместо текстового редактора может оказаться более удобным синтаксически
      управляемый редактор, ориентированный на используемый язык программирования.
    </div>
    <div class="paragraph">
      <b>Анализаторы</b> производят либо статическую обработку документов, осуществляя различные виды их контроля,
      выявление
      определенных их свойств и накопление статистических данных (например, проверку соответствия документов указанным
      стандартам), либо динамический анализ программ (например, с целью выявление распределения времени работы программы
      по программным модулям).
    </div>
    <div class="paragraph">
      <b>Преобразователи</b> позволяют автоматически приводить документы к другой форме представления (например,
      форматеры) или переводить документ одного вида к документу другого вида (например, конверторы или компиляторы),
      синтезировать какой-либо документ из отдельных частей и т.п.
    </div>
    <div class="paragraph">
      <b>Инструменты</b>, поддерживающие процесс выполнения программ, позволяют выполнять на компьютере описания
      процессов или отдельных их частей, представленных в виде, отличном от машинного кода, или машинный код с
      дополнительными возможностями его интерпретации.
    </div>
    <div class="paragraph">
      Примером такого инструмента является эмулятор кода другого компьютера. К этой группе инструментов следует отнести
      и различные отладчики.
    </div>
    <div class="paragraph">
      По-существу, каждая система программирования содержит программную подсистему периода выполнения, которая выполняет
      наиболее типичные для языка программирования программные фрагменты и обеспечивает стандартную реакцию на
      возникающие при выполнении программ исключительные ситуации (такую подсистему мы будем называть исполнительной
      поддержкой), - также можно рассматривать как инструмент данной группы.
    </div>
    <div class="paragraph callout">
      Одной из самых революционных идей, приведших к созданию автоматических цифровых вычислительных машин, была
      высказанная в 20-х годах 19 века Ч.Бэббиджем мысль о предварительной записи порядка действий машины – программе. С
      этого момента начинается история языков программирования.
    </div>
    <div class="paragraph">
      Революционным моментом в истории языков программирования стало появление системы кодирования машинных команд с
      помощью специальных символов, предложенной Джоном Моучли, сотрудником Пенсильванского университета. Система
      кодирования, предложенная Моучли, увлекла одну из сотрудниц его компании – Грейс Мюррей Хоппер, которая посвятила
      всю свою жизнь компьютерам и программированию.
    </div>
    <div class="paragraph">
      При работе на компьютере "Марк-1" Г.Хоппер и ее группе пришлось столкнуться со многими проблемами. В частности,
      они придумали подпрограммы.
    </div>
    <div class="paragraph">
      На заре истории языков программирования машинный код был единственным средством общения человека с компьютером.
      Огромным достижением создателей языков программирования было то, что они сумели заставить сам компьютер работать
      переводчиком с этих языков на машинный код.
    </div>
    <div class="paragraph">
      В конце 40-х годов, до прихода Г.Хоппер в фирму Джона Моучли, последний создал систему под названием "Short Code",
      которая являлась примитивным языком программирования высокого уровня. В ней программист записывал решаемую задачу
      в виде математических формул, а затем, используя специальную таблицу, переводил символ за символом, преобразовывал
      эти формулы в двухлитерные коды. В дальнейшем специальная программа компьютера превращала эти коды в двоичный
      машинный код. Система, разработанная Дж. Моучли, была по существу одним из первых примитивных интерпретаторов.
    </div>
    <div class="paragraph">
      Уже в 1951 г. Хоппер создала первый в мире компилятор и ею же был введен сам этот термин. Компилятор Хоппер
      осуществлял функцию объединения команд и в ходе трансляции производил организацию подпрограмм, выделение памяти
      компьютера, преобразование команд высокого уровня (в то время псевдокодов) в машинные команды.
    </div>
    <div class="paragraph">
      Середина 50-х годов характеризуется стремительным прогрессом в истории языков программирования. Роль
      программирования в машинных командах стала уменьшаться. Начали появляться языки программирования нового типа,
      выступающие в роли посредника между машинами и программистами. Первым и одним из наиболее распространенных был
      Фортран, разработанный группой программистов фирмы IBM в 1954 г. (первая версия).
    </div>
    <div class="paragraph">
      В середине 60-х годов сотрудники математического факультета Дартмутского колледжа Томас Курц и Джон Кемени создали
      специализированный язык программирования, который состоял из простых слов английского языка. Новый язык назвали
      BASIC.
    </div>
    <div class="paragraph">
      В начале 60-х годов все существующие языки программирования высокого уровня можно было пересчитать по пальцам,
      однако впоследствии их число достигло трех тысяч. Разумеется, подавляющая часть языков не получила в истории
      языков программирования сколько-нибудь широкого распространения; в практической деятельности используется не более
      двух десятков. Разработчики ориентировали языки программирования на разные классы задач, в той или иной мере
      привязывали их к конкретным архитектурам ЭВМ, реализовывали личные вкусы и идеи. В 60-е годы в истории языков
      программирования были предприняты попытки преодолеть эту "разноголосицу" путем создания универсального языка
      программирования. Первым детищем этого направления стал PL/I (Programm Language One), 1967 г. Затем на эту роль
      претендовал АЛГОЛ-68 (1968 г.). Предполагалось, что подобные языки будут развиваться и усовершенствоваться и
      вытеснят все остальные. Однако ни одна из этих попыток на сегодняшний день не увенчалась успехом. Всеохватность
      языка приводила к неоправданной, с точки зрения программиста, сложности конструкций, неэффективности компиляторов.
    </div>
    <div class="paragraph">
      В конце 50-х годов в истории языков программирования явился Алгол (ALGOL, от ALGOrithmic Language –
      алгоритмический язык). Алгол предназначен для записи алгоритмов, которые строятся в виде последовательности
      процедур, применяемых для решения поставленных задач.
      Развитие идеи Алгола о структуризации разработки алгоритмов нашло в истории языков программирования наивысшее
      отражение при создании в начале 70-х годов языка Паскаль швейцарским ученым Никлаусом Виртом. Язык Паскаль
      первоначально разрабатывался как учебный, и, действительно, сейчас он является одним из основных языков обучения
      программированию в школах и вузах.
    </div>
    <div class="paragraph">
      Период с конца 60-х и до начала 80-х годов характеризуется в истории языков программирования бурным ростом числа
      различных языков, сопровождавшим, как это ни парадоксально, кризис программного обеспечения. Этот кризис особо
      остро переживало военное ведомство США. В январе 1975 г. Пентагон решил навести порядок в хаосе трансляторов и
      учредит комитет, которому было предписано разработать один универсальный язык. Победивший язык окрестили АДА.
    </div>
    <div class="paragraph">
      Большой отпечаток в истории языков программирования наложил язык Си (первая версия – 1972 г.), являющийся очень
      популярным в среде разработчиков систем программного обеспечения (включая операционные системы). Си сочетает в
      себе черты как языка высокого уровня, так и машинно-ориентированного языка, допуская программиста ко всем машинным
      ресурсам, чего не обеспечивают такие языки, как Бейсик и Паскаль.
    </div>
    <div class="paragraph">
      В течение многих лет программное обеспечение строилось на основе операциональных и процедурных языков, таких как
      Фортран, Бейсик, Паскаль, Ада, Си. Классическое операциональное и/или процедурное программирование требует от
      программиста детального описания того, как решать задачу, т.е. формулировки алгоритма и его специальной записи.
      При этом ожидаемые свойства результата обычно не указываются. Основные понятия языков этих групп – оператор и
      данные. При процедурном подходе операторы объединяются в группы – процедуры. Структурное программирование в целом
      не выходит за рамки этого направления, оно лишь дополнительно фиксирует некоторые полезные приемы технологии
      программирования.
    </div>
    <div class="paragraph">
      Принципиально иное направление в истории языков программирования связано с методологиями (иногда говорят
      "парадигмами") непроцедурного программирования. К ним можно отнести объектно-ориентированное и декларативное
      программирование. Объектно-ориентированный язык создает окружение в виде множества независимых объектов. Каждый
      объект ведет себя подобно отдельному компьютеру, их можно использовать для решения задач как "черные ящики", не
      вникая во внутренние механизмы их функционирования. Из языков объектного программирования, популярных среди
      профессионалов, следует назвать прежде всего Си++, для более широкого круга программистов предпочтительны среды
      типа Delphi и Visual Basic
    </div>
  </div>
</div>
