<div class="row">
  <div class="article">
    <div class="title">
      Совершенствование процесса создания ПО
    </div>
    <div class="paragraph ">
      Термин «процесс» слишком перегружен. В организациях, ориентированных на создание ПО, существует много процессов
      разного масштаба. Я буду использовать слово «процесс» в трех различных значениях.
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Метапроцесс: политика, приемы и практика, которые присущи некоей организации при ведении интенсивного бизнеса,
        связанного с ПО. В центре этого процесса находятся экономика организации, долговременная стратегия и возврат
        инвестиций в ПО.
      </li>
      <li class="list-group-item">
        Макропроцесс: политика, приемы и практика, которые присущи некоему проекту по созданию законченного ПО с учетом
        определенных ограничений по стоимости, срокам и качеству. В центре этого процесса находится создание адекватного
        варианта метапроцесса для конкретного набора ограничений.
      </li>
      <li class="list-group-item">
        Микропроцесс: политика, приемы и практика, присущие команде разработчиков некоего проекта и направленные на
        получение некоторых результатов в процессе создания ПО. Главным для микропроцесса является создание
        промежуточного продукта адекватного качества с адекватными функциональными возможностями настолько экономично и
        быстро, насколько это осуществимо на практике.
      </li>
    </ul>
    <div class="paragraph">
      Эти три уровня процесса несколько перекрывают друг друга, но у них разные цели, участники, метрики, отношения и
      временной масштаб (см. таблицу). Макропроцесс — это процесс уровня проекта в целом, который оказывает влияние
      на модель оценки стоимости, обсуждаемую в данной главе.
    </div>
    <div class="paragraph">
      Для достижения успеха большинству проектов по созданию ПО требуется невероятно сложная паутина последовательных и
      параллельных шагов. По мере роста проекта приходится включать дополнительные шаги лишь для того, чтобы управиться
      с этой сложной паутиной. Все процессы, связанные с проектом, состоят из производительных и непроизводительных
      видов деятельности.
    </div>
    <div class="paragraph">
      Производительные виды деятельности при-водят к осязаемому прогрессу на пути к конечному
      продукту. Если речь идет о создании ПО, то в эти виды деятельности входят создание прототипа, моделирование,
      кодирование, отладка и подготовка документации для пользователей. Непроизводительные виды деятельности, которые не
      имеют непосредственного влияния на конечный продукт, включают в себя подготовку планов и документации, мониторинг
      хода работ, оценку рисков, финансовые оценки, управление конфигурацией, оценку качества, интеграцию, тестирование,
      отбраковку и доработку на поздних стадиях, управление, подготовку персонала, бизнес-администрирование, а также
      решение ряда других задач.
    </div>
    <div class="paragraph">
      К непроизводительным видам деятельности относятся такие работы, которые повышают
      конечную ценность продукта, но в общем случае, чем меньше сил на них тратится, тем боль-ше усилий может быть
      направлено на производительные виды деятельности. Целью улучшения процесса является максимизация ресурсов, 
      направленных на производительные виды деятельности, и минимизация влияния непроизводительных видов деятельности на
      такие ресурсы, как персонал, компьютеры и график.
    </div>
    <div class="panel panel-default">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="col-md-1">Атрибуты</th>
          <th class="col-md-3">Метапроцесс</th>
          <th class="col-md-4">Макропроцесс</th>
          <th class="col-md-4">Микропроцесс</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Предмет</td>
          <td>Стратегия бизнеса</td>
          <td>Проект</td>
          <td>Итерация</td>
        </tr>
        <tr>
          <td>Цели</td>
          <td>Прибыльность стратегии бизнеса, Конкурентоспособность</td>
          <td>Прибыльность проекта, Управление рисками, Бюджет проекта, сроки, качество</td>
          <td>Управление ресурсами, Разрешение рисков, Промежуточный бюджет, сроки, качество</td>
        </tr>
        <tr>
          <td>Участники</td>
          <td>Лица, ответственные за приобретение, заказчикиМенеджеры организации</td>
          <td>Менеджеры проекта, Разработчики ПО</td>
          <td>Менеджеры составляющих проектов, Разработчики ПО</td>
        </tr>
        <tr>
          <td>Метрики</td>
          <td>
            Предсказуемость проекта,
            Получение дохода, контролируемый сегмент рынка
          </td>
          <td>
            Необходимость уложиться в бюджет и в сроки,
            Успешное достижение основных контрольных точек,
            Отбраковка и переделка в рамках проекта
          </td>
          <td>
            Необходимость уложиться в бюджет и в сроки,
            Успешное выполнение основных контрольных точек,
            Отбраковка и переделка в рамках отдельных итераций/версий
          </td>
        </tr>
        <tr>
          <td>Отношения</td>
          <td>Бюрократия против стан­дартизации</td>
          <td>Качество против финансовой эффективности</td>
          <td>Содержание против сроков</td>
        </tr>
        <tr>
          <td>Временной масштаб</td>
          <td>От 6 до 12 месяцев</td>
          <td>От 1 года до нескольких лет</td>
          <td>От 1 до 6 месяцев</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="paragraph">
      Возможно, кого-то раздражает то, что я отношу отбраковку и переделку на поздних стадиях, а также подготовку
      персонала к категории непроизводительных видов деятельности, которые следует минимизировать. Я специально
      определил отбраковку и переделку как позднюю, чтобы отличать их от отбраковки и переделки, являющихся естественным
      побочным продуктом при создании прототипа. Отбраковка и переделка на ранних стадиях являются производственной
      необходимостью для большинства проектов, так как позволяют определить бесчисленное множество неизвестных в области
      принятия решений. Но они крайне нежелательны на поздних стадиях жизненного цикла. Совершенно очевидно, что для
      хорошего процесса поздние отбраковка и переделка абсолютно излишни.
    </div>
    <div class="paragraph">
      Многие будут спорить, доказывая, что подготовка персонала не может быть плохой вещью, но мы утверждаем это с точки
      зрения проекта. 
    </div>
    <div class="paragraph callout">
      Подготовка персонала является организационной задачей, а не задачей в рамках выполнения проекта.
    </div>
    <div class="paragraph">
      Любому менеджеру проекта, которому приходится нести бремя обучения людей процессам, технологиям или
      инструментарию, приходится намного хуже, чем менеджеру проекта, который располагает полностью подготовленной
      рабочей силой. Возможно, обеспечение всех проектов подготовленными работниками не представляется возможным, но при
      прочих равных условиях привлечение подготовленных людей всегда лучше, чем неподготовленных. В этом смысле
      подготовка не может рассматриваться как вид деятельности, повышающей конечную ценность продукта.
    </div>
    <div class="paragraph">
      Качество процесса создания ПО сильно влияет на объем работы, который необходимо выполнить, и, следовательно, на
      сроки создания программного продукта. На практике отличие хорошего процесса от плохого способно изменять общую
      оценку стоимости на величину от 50% до 100%, а уменьшение объема работ позволяет сократить сроки выполнения.
      Лучший процесс может оказать еще более существенное влияние на сокращение времени, требующегося команде для
      получения представления о продукте известного качества. Почему это так?
    </div>
    <div class="paragraph">
      Сокращение сроков возможно по крайней мере по трем направлениям.
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1. Рассматривая процесс, состоящий из N шагов, мы можем повышать эффективность каждого шага.
      </li>
      <li class="list-group-item">
        2. Рассматривая процесс, состоящий из N шагов, мы можем исключить некоторые шаги, получив процесс, состоящий из
        М шагов.
      </li>
      <li class="list-group-item">
        3. Рассматривая процесс, состоящий из N шагов, мы можем использовать более конкурентоспособные виды деятельности
        или ресурсы.
      </li>
    </ul>
    <div class="paragraph">
      Многие организационные стратегии, ускоряющие выход продукта на рынок, делают упор на первом направлении. Однако в
      центре внимания большинства усовершенствований процесса, описываемых в настоящей книге, лежит стремление к
      достижению результатов по второму и третьему направлениям, в которых сокрыт гораздо больший потенциал. В
      частности, совершенствуя процесс, необходимо уделять внимание нахождению адекватного решения за минимальное
      количество итераций и исключению, насколько это возможно, отбраковки и переделки, требующих возврата к более
      ранним стадиям.
    </div>
    <div class="paragraph">
      Каждый случай переделки предполагает повторное решение соответствующего множества задач. Представим себе, что
      команда, завершая последовательные действия по анализу, разработке, кодированию и тестированию некоей
      функциональной возможности, при тестировании обнаруживает изъян. В этом случае приходится последовательно
      выполнять процедуры повторной разработки, повторного кодирования и повторного тестирования. Последовательное
      выполнение задач является самым главным препятствием на пути к сокращению сроков. Несмотря на некоторые
      технологические приемы, позволяющие исключать из процесса целые шаги, самой важной задачей улучшения процесса
      является сокращение отбраковки и переделки на поздних стадиях жизненного цикла.
    </div>
    <div class="paragraph">
      В идеальном мире разработки ПО с безупречно сформулированной проблемой, очевидным пространством решений, командой
      разработчиков, состоящей из опытных гениев, с необходимыми ресурсами и заинтересованными сторонами, объединенными
      общими целями, мы могли бы завершить процесс разработки ПО за одну итерацию практически без всяких отбраковок и
      переделок. Однако мир не идеален, и нам следует так управлять процессом разработки, чтобы вид кривой отбраковок и
      переделок не влиял на условия достижения успеха любой из заинтересованных сторон. Это утверждение служит
      основополагающей предпосылкой практически для всех улучшений процесса.
    </div>
    <div class="subtitle">
      Увеличение эффективности работы команды
    </div>
    <div class="paragraph">
      Давно известно, что различия в квалификации персонала могут оказывать большое влияние на продуктивность. Исходная
      модель СОСОМО, например, предполагает, что совместный эффект навыков и опыта персонала может изменять
      производительность в четыре раза. Это разница между командой неопытных любителей и командой маститых экспертов. На
      практике представляется рискованным оценивать некую конкретную команду как выходящую за рамки этой шкалы в ту или
      другую сторону. Большая команда, состоящая, скажем, из 50 человек, всегда комплектуется обычными людьми с обычным
      опытом. Невозможно обеспечить некий нетривиальный проект сотрудниками, каждый из которых обладал бы оптимальным
      опытом, был бы полностью подготовлен для использования инструментария и технологий и имел бы коэффициент
      интеллекта, боль-ший 130. Если даже это удастся провести в жизнь, то команда, скорее всего, окажется
      недееспособной. Поэтому старый лозунг «Просто нанимайте хороших людей» следует применять с осторожностью.
      Правильнее будет сказать «Просто собирайте хорошую команду».
    </div>
    <div class="paragraph">
      Равновесие и охват являются двумя наиболее важными аспектами любой отличной команды. Если в команде отсутствует
      равновесие, она оказывается уязвимой. По спортивной аналогии, команда разработчиков ПО напоминает футбольную
      команду (Здесь и далее, когда автор говорит о футболе, он имеет в виду футбол американский. — Прим. пер.), в
      которой требуется наличие различных навыков. Редко можно встретить великую футбольную команду, не имеющую широкого
      охвата; нападающих, защитников и специальных команд — тренеров и обслуживающего персонала, основных и резервных
      игроков, пасующих и бегущих. Великим командам необходимо наличие на всех ключевых позициях индивидуально сильных
      игроков. Команда, перегруженная суперзвездами, каждая из которых стремится к установлению личных рекордов и
      борется за право считаться лидером, может быть остановлена сбалансированной командой хороших игроков, обладающей
      несколькими лидерами, которые нацелены на достижение командного результата — победы в матче.
    </div>
    <div class="paragraph">
      Работа в команде представляется более важной, чем сумма индивидуальностей. Управляя командами разработчиков ПО,
      менеджеру проекта необходимо соблюдать равновесие между очень талантливыми и просто высококвалифицированными
      людьми на ключевых
      позициях. Ниже приводятся некоторые принципы управления командой:
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        Хорошо управляемый проект может быть успешно выполнен обычной командой разработчиков.
      </li>
      <li class="list-group-item">
        Плохо управляемый проект почти никогда не будет успешным, даже если над ним трудится группа
        разработчиков-экспертов.
      </li>
      <li class="list-group-item">
        Система, архитектура которой разработана правильно, может быть реализована и обычной командой создателей ПО.
      </li>
      <li class="list-group-item">
        Система с плохой архитектурой заставит путаться даже команду разработчиков-экспертов.
      </li>
    </ul>
    <div class="paragraph">
      Изучая проблемы найма исполнителей для проектов по созданию ПО, Боэм предложил следующие пять принципов [Boehm,
      1981].
    </div>
    <div class="paragraph callout">
      Принцип верховенства таланта: используйте меныше количество лучших специалистов.
    </div>
    <div class="paragraph">
      Этот принцип фундаментален, но применять его можно до определенного предела. Для большинства работ существует
      «естественный» размер команды, и отклонения в ту или другую сторону нарушают командную динамику, поскольку
      приводят либо к слишком малому, либо к чересчур большому давлению на отдельных работников.
    </div>
    <div class="paragraph callout">
      Принцип соответствия заданий: подбирайте задачи в соответствии с навыками и мотивацией специалистов, имеющихся в
      наличии.
    </div>
    <div class="paragraph">
      Этот принцип кажется очевидным. В футбольной команде следует использовать лидера в качестве тренера, хорошего
      пасующего — в качестве квотер- бека, быстрого бегуна — в качестве принимающего, а 300-фунтового задиру — в
      качестве линейного. В случае с разработчиками ПО гораздо сложнее определить наиболее значимые навыки персонала и
      оптимально распределить задания. Персональные устремления также усложняют эту за-дачу. В футболе 300-фунтовый
      линейный не будет даже мечтать о том, чтобы его перевели в квотербеки; слишком уж очевидно различие в необходимом
      наборе навыков. Однако в командах разработчиков ПО довольно распространено явление, когда талантливые программисты
      пытаются заниматься разработкой архитектуры или менеджментом. Мне кажется, что в обоих случаях наборы требуемых
      навыков совершенно различны, поскольку большинство блестящих программистов по природе своей не способны
      разрабатывать архитектуру или быть менеджерами, и наоборот. Несмотря на это, отдельные лица и даже организации, в
      которых они работают, рассматривают такие продвижения как желательные. Известно бесконечное число примеров, когда
      великолепные разработчики ПО непродуманно выдвигались на должности, для работы на которых у них не было ни
      навыков, ни квалификации. Таким образом происходит замена игрока А на игрока В, в результате которой игрок А
      переходит с умеренной по влиятельности позиции на высокую, а игрок В — на еще более влиятельную. Двойная ошибка.
    </div>
    <div class="paragraph callout">
      Принцип карьерного роста: лучшее, что может сделать организация для своих сотрудников в долговременном плане,
      помочь им найти себя.
    </div>
    <div class="paragraph">
      Хорошие работники обычно находят себя в любой среде. Организация в состоянии как помочь, так и помешать сотруднику
      в поисках своего места, но усилия организации могут принести более всего пользы сотрудникам средним и ниже
      среднего. Программы подготовки, предлагаемые организациями, обычно являются стратегическими мероприятиями,
      обладающими образовательной ценностью. Программы подготовки, предусмотренные в рамках проектов, чисто тактические
      и рассчитаны на то, что они окажутся полезными и будут использоваться на следующий день после окончания
      подготовки.
    </div>
    <div class="paragraph callout">
      Принцип командного равновесия: подбирайте людей, которые дополняют друг друга и гармонично сочетаются друг с
      другом.
    </div>
    <div class="paragraph">
      Этот принцип звучит немного сентиментально, но его дух является самым главным фактором для хорошей командной
      работы. Равновесие команды разработчиков имеет много измерений, и если оно оказывается нарушенным хотя бы в одном
      из них, выполнение проекта оказывается под серьезной угрозой. Эти измерения включают в себя:
    </div>
    <div class="paragraph">
      Исходные качества: интеллект, целеустремленность, творческий подход, организованность, аналитическое мышление
    </div>
    <div class="paragraph">
      Психологическая составляющая: лидеры и последователи, сторонники риска и консерваторы, мечтатели и придиры, циники
      и оптимисты
    </div>
    <div class="paragraph">
      Цели: финансовые, набор функциональных возможностей, качество, своевременность
    </div>
    <div class="paragraph callout">
      Принцип исключения: человек, выпадающий из команды, никому не принесет пользы.
    </div>
    <div class="paragraph">
      Этот принцип является следствием предыдущих четырех. Наличие неудачника — это повод подыскать более подходящего
      работника или остаться с меньшим количеством людей. Неудачник лишает мотивации других членов команды, не может
      обрести себя и нарушает равновесие в том или ином измерении. Неудачников легко отличить, и почти никогда не
      следует затягивать с их исключением из команды.
    </div>
    <div class="paragraph">
      Разработка ПО — командный вид спорта. Менеджеры должны лелеять культуру работы в команде, и командные результаты
      имеют большее значение, чем индивидуальные достижения. Из этих пяти принципов главными целями следует признать
      достижение равновесия в команде и соответствие заданий. Принцип верховенства таланта и принцип исключения из
      команды являются вторичными целями, поскольку их применяют для достижения равновесия в команде. Что же касается
      карьерного роста, то этой практики работы с кадрами следует придерживаться. Однако те сотрудники или организации,
      которые уделяют ей внимание в ущерб успеху всей команды, долго на рынке не протянут.
    </div>
    <div class="paragraph">
      Менеджеры проектов должны обладать многими качествами лидера для того, чтобы повышать эффективность команды. Это
      имеет значение в любой сфере деятельности. Ниже приводятся те качества менеджеров проектов, которые заслуживают
      пристального внимания:
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        1. Умение нанимать. Немногие решения важны так же, как решения о найме. Необходимость правильно подыскать работу
        для каждого человека кажется очевидной, но является трудноразрешимой задачей.
      </li>
      <li class="list-group-item">
        2. Умение взаимодействовать с заказчиком. Умение избегать враждебности во взаимоотношениях между
        заинтересованными сторонами является предпосылкой успеха.
      </li>
      <li class="list-group-item">
        3. Умение принимать решения. В бесконечно большом числе книг по менеджменту так и не было дано ясного
        определения этому атрибуту. В процессе работы мы все понимаем, что это хороший лидер, а умение принимать решения
        кажется очевидным, несмотря на нечеткое определение.
      </li>
      <li class="list-group-item">
        4. Умение создавать команду. Работа в команде требует от менеджера умения устанавливать доверительные отношения,
        стимулировать прогресс, заставлять трудиться эксцентричных «примадонн», превращать средних людей в исполнителей
        высшего класса, избавляться от неудачников и объединять различные мнения в рамках единого направления командной
        работы.
      </li>
      <li class="list-group-item">
        5. Умение убеждать. Менеджер проекта должен убедить все заинтересованные стороны (включая самого себя) в
        правильности принятых решений и расставленных приоритетов, убедить кандидатов занять соответствующие должности,
        убедить в необходимости внесения изменений в статус-кво в случае возникновения препятствий, доказать, что
        достижения соответствуют поставленным целям. На практике убеждение требует продолжительных переговоров,
        компромиссов и сопереживания.
      </li>
    </ul>
    <div class="subtitle">
      Повышение уровня автоматизации за счет среды разработки
    </div>
    <div class="paragraph">
      Инструментарий и среда, используемые при создании ПО, в общем имеют линейное влияние на производительность
      процесса. Инструментарий для планирования, управления требованиями, визуального моделирования, компиляторы,
      редакторы, отладчики, инструментарий для проверки соответствия качеству, тестирования и пользовательские
      интерфейсы обеспечивают необходимую автоматизацию получения результатов в процессе создания ПО. Кроме того, среда
      управления конфигурацией яв-ляется основой для выполнения и инструментального оснащения процесса. В первом
      приближении, чистое влияние инструментария и автоматизации позволяет сократить объем работ на величину от 20% до
      40%. Однако, поскольку инструментарий и среду следует рассматривать как основное средство обеспечения
      автоматизации и улучшения процесса, их влияние может оказаться гораздо большим.
    </div>
    <div class="paragraph">
      Другой формой совершенствования процесса является повышение эффективности конкретных шагов. Здесь свой важнейший
      вклад должна внести среда, а именно: требуется автоматизировать задачи, выполнение которых вручную неэффек-тивно
      или чревато ошибками. Переход к более зрелому процессу создания ПО приводит к появлению новых решений и
      возможностей в области контроля, осуществляемого менеджерами, над параллельными видами деятельности для достижения
      осязаемого прогресса и для оценки качества. Опыт выполнения проектов показал, что интегрированная в высокой
      степени среда является необходимой как для упрощения, так и для усиления контроля за процессом, осуществляемого
      менеджерами. Среда, обеспечивающая семантическую интеграцию (при которой среде понятен в деталях смысл результатов
      разработки) и автоматизацию процесса, может способствовать росту производительности, повышению качества ПО и
      ускорению процесса освоения современных методов.
    </div>
    <div class="paragraph">
      Среда, которая поддерживает пошаговую компиляцию, автоматизированное построение системы и интегрированное
      регрессионное тестирование, может обеспечить ускорение цикла при итерационной разработке и позво-ляет командам
      разработчиков выполнять итерации более свободно.
    </div>
    <div class="paragraph">
      Серьезное внимание при современном подходе уделяется определению среды разработки и сопровождения как предмету
      первой необходимости для процесса разработки. Стабильная интегрированная среда разработки обязана поддерживать
      автоматизацию процесса разработки. I Такая среда должна включать в себя управление требованиями, автоматизацию
      документирования, исходные/целевые (host/target) средства программирования, автоматизированное регрессионное
      тестирование, постоянное и интегрированное управление изменениями и отслеживание дефектов. Основная линия для
      успешного хода проекта заключается в найме хороших исполнителей и в обеспечении их хорошими инструментами для
      выполнения своей работы. Автоматизация процесса разработки позволяет получить выигрыш в качестве, в возможности
      оценки стоимости и сроков и в общей продуктивности при использовании меньшей
      команды.
    </div>
    <div class="paragraph">
      Интегрированные наборы инструментов играют все более важную роль в пошаговой/итерационной разработке, позволяя
      разработчикам быстро ориентироваться в получаемых продуктах и своевременно вносить в них изменения.
    </div>
    <div class="paragraph">
      Разработка по «круговому» (round-trip) принципу - это термин, используемый для описания ключевых возможностей
      среды, которая поддерживает итерационный подход. По мере того как различные продукты разработки оказываются
      размещенными в различных хранилищах информации, возникает необходимость в гарантии эффективного и безошибочного
      переноса данных из одних продуктов в другие. Прямое проектирование (forward engineering) — это автоматизация
      процесса получения некоторого продукта из более абстрактного представления. Например, компиляторы и загрузчики
      обеспечивают
      автоматическое преобразование исходного кода в выполняемый код. Обратное проектирование (reverse J engineering) —
      это генерация или модификация более абстрактного представления из существующего продукта (например, создание
      визуальной модели из исходного кода).
    </div>
    <div class="paragraph">
      представления из существующего продукта (например, создание визуальной модели из исходного кода).
      «Круговая» разработка описывает такую поддержку среды, которая позволяет свободно вносить изменения в отдельные
      продукты. При этом остальные продукты автоматически изменяются таким образом, чтобы весь набор продуктов,
      связанных с требованиями, разработкой, реализацией и вводом в действие, сохранял свою непротиворечивость
    </div>
    <div class="paragraph">
      По мере того как в архитектуре стали использоваться разнородные компоненты, платформы и языки, сложность создания,
      управления и сопровождения крупномасштабных сетей компонентов привела к появлению новых потребностей в области
      управления конфигурацией и автоматизации управления процессом создания. Однако степень поддержки автоматизации
      существующих на сегодняшний день сред далека от желаемой. Например, автоматизированное построение тестового
      варианта из описаний варианта использования и сценария до сих пор находится на такой стадии развития, при которой
      не поддерживается ничего, кроме наиболее тривиальных случаев, таких как сценарии для тестирования отдельных
      элементов.
    </div>
    <div class="paragraph">
      Описывая экономические выгоды, связанные с инструментарием и различными средами, следует сделать одно
      предостережение. Зачастую поставщики инструментов дают относительно точные индивидуальные оценки потенциального
      экономического эффекта от использования их инструментов в течение всего жизненного цикла. Например, в какой-нибудь
      отдельной «инструментальной» нише часто можно встретить подобные утверждения:
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        На анализ требований и деятельность, направленную на развитие, тратится 40% общих затрат в жизненном цикле.
      </li>
      <li class="list-group-item">
        Деятельность по разработке ПО оказывает влияние на более чем 50% ресурсов.
      </li>
      <li class="list-group-item">
        Этапы кодирования и тестирования составляют свыше 50% от всей работы и занимают более 50% всего времени.
      </li>
      <li class="list-group-item">
        Проведение тестирования может потребовать до 50% всех ресурсов проекта.
      </li>
      <li class="list-group-item">
        Управление конфигурацией и изменениями — это критичные виды деятельности, на которые может расходоваться до 25%
        ресурсов крупномасштабного проекта.
      </li>
      <li class="list-group-item">
        На создание документации может тратиться более 30% ресурсов, отпущенных на разработку проекта.
      </li>
      <li class="list-group-item">
        Управление проектом, бизнес-администрирование и оценка прогресса могут стоить до 30% от бюджета проекта.
      </li>
    </ul>
    <div class="paragraph">
      Если рассматривать их по отдельности, то каждое из них нельзя назвать неправильным, они просто слишком примитивны.
      (Если верить им всем, то оказывается, что на выполнение большинства проектов требуется до 275% времени и денег!)
      Объединенные вместе, эти утверждения могут ввести в заблуждение. Остерегайтесь заключений такого рода:
    </div>
    <div class="paragraph">
      Данный инструмент для тестирования позволяет увеличить про-дуктивность тестирования на 20%. Поскольку выполнение
      тести-рования занимает 50% от всего жизненного цикла, то чистый выигрыш в производительности для проекта в целом
      составит 10%. При общем бюджете в один миллион долларов на инструменты для тестирования можно потратить $100000.
    </div>
    <div class="paragraph">
      Взаимоотношения между всеми видами деятельности по разработке ПО оказываются слишком сложными для того, чтобы
      такие простые рассуждения могли быть верными. По моему опыту, суммарный эффект от использования всех инструментов
      обычно ниже 40%, и большая часть этого выигрыша не может быть получена без внесения соответствующих изменений в
      процесс. Маловероятно, чтобы какой-либо отдельный инструмент мог повысить общую производительность проекта более
      чем на 5%. Вообще говоря, лучше относить большинство утверждений поставщиков к виртуальным 275%, чем к суммарным
      100%, с которыми приходится иметь дело в реальной жизни.
    </div>
    <div class="subtitle">
      Достижение необходимого качества
    </div>
    <div class="paragraph">
      Многое из того, что рассматривается сегодня в качестве лучших способов создания ПО, является следствием процесса
      разработки и технологий, о которых идет речь в этой главе. В дополнение ко всему, эти способы оказывают влияние на
      повышение финансовой эффективности. Многие из них позволяют также улучшать качество без изменения цены.
    </div>
    <div class="paragraph">
      Ключевыми способами улучшения общего качества ПО являются следующие:
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        Уделять особое внимание ведущим требованиям и критичным вариантам использования на ранних стадиях жизненного
        цикла. Уделять внимание полноте и соответствию всем требованиям на поздних стадиях жизненного цикла. В течение
        всего жизненного цикла уделять внимание поддержанию равновесия между эволюцией требований и эволюцией
        разработки, с одной стороны, и эволюцией планов, с другой.
      </li>
      <li class="list-group-item">
        Использовать метрики и показатели для измерения прогресса и качества архитектуры по мере того, как она
        развивается от прототипа высокого уровня до полностью готового продукта. 
      </li>
      <li class="list-group-item">
        В течение всего жизненного цикла обеспечивать среду, поддерживающую раннее и постоянное управление конфигурацией
        и изменениями, строгие методы разработки, автоматизацию документирования и автоматизацию регрессионного
        тестирования.
      </li>
      <li class="list-group-item">
        Использовать визуальное моделирование и языки высокого уровня, которые поддерживают управление архитектурой,
        абстракцию, надежное программирование, повторное использование и самодоку- ментирование.
      </li>
      <li class="list-group-item">
        Рано и постоянно вникать в проблемы производительности с помощью оценок, основанных на демонстрациях.
      </li>
    </ul>
    <div class="paragraph">
      Дополнительные возможности вникать в проблемы производительности работающей системы становятся все более важными,
      поскольку проекты включают в себя как коммерческие компоненты, так и компоненты, произведенные на заказ. В
      традиционном процессе разработки ПО особое внимание уделяется раннему получению оценок размера и времени,
      используемых компьютерной программой. Однако типичной хронологической последовательностью при оценке
      производительности является следующая:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Начало проекта. Предложенный проект утверждается как малорискованный с адекватными границами производительности.

      </li>
      <li class="list-group-item">
        Начальный обзор разработки. Оптимистические оценки адекватных границ при разработке базируются преимущественно
        на «бумажном» анализе и грубых моделях критичных вариантов. В большинстве случаев к этому моменту становится
        абсолютно ясно, какие на самом деле будут использоваться алгоритмы и каковы будут размеры баз данных. Однако
        полная инфраструктура, включая затраты на операционную систему, систему управления базой данных и на
        межпроцессное и сетевое взаимодействие, а также все вторичные процессы обычно еще неясны.
      </li>
      <li class="list-group-item">
        Рассмотрение разработки в середине жизненного цикла. Границы оценок постепенно сужаются по мере того, как первые
        контрольные цифры и начальные тесты начинают подтверждать тот оптимизм, который был присущ более ранним оценкам.
      </li>
      <li class="list-group-item">
        Интеграция и тестирование. Обнаруживаются серьезные проблемы с производительностью, возникает необходимость
        внесения фундаментальных изменений в архитектуру. Обычно во всем винят лежащую в основе инфраструктуру, хотя
        настоящими виновниками являются неправильное использование инфраструктуры, несовершенные архитектурные решения
        либо плохо понятые ранние договоренности по разработке.
      </li>
    </ul>
    <div class="paragraph">
      Такая последовательность имеет место, поскольку первые представления о производительности базировались
      исключительно на наивных оценках, сделанных разработчиками на основе бесчисленного множества критериев. В
      распределенных системах, состоящих из множества взаимодействующих между собой компонентов, подход, основанный на
      демонстрациях, позволяет значительно точнее оценить проблемы производительности. Ранние демонстрации могут
      осуществляться на платформе, на которой выполняется разработка, или на платформе, на которой будет производиться
      эксплуатация, либо на частично сконфигурированных сетях. Как бы то ни было, они могут быть спланированы и
      направлены на то, чтобы стать плодотворным инженерным экспериментом. Проблемы с производительностью на начальных
      стадиях типичны. Более того, они могут оказаться полезными, поскольку позволяют выявлять недостатки в архитектуре
      и слабость коммерческих компонентов на ранних стадиях жизненного цикла, когда еще можно внести необходимые
      поправки
    </div>
  </div>
</div>
