<div class="row">
  <div class="article">
    <div class="title">
      Типы организации бригад. Бригада главного программиста.
    </div>
    <div class="subtitle">
      Автоматизация процесса
    </div>
    <div class="paragraph">
      Многие организации-разработчики ПО сосредоточивают свое внимание на совершенст-вовании процесса для повышения
      степени предсказуемости управления проектом и положения дел в тех направлениях бизнеса, которыми они занимаются
      (это имеет отношение к качеству продукта, времени выхода на рынок, отдаче от инвестиций и производительности). Для
      того чтобы современные проекты по созданию ПО могли приносить прибыль, требуются не только определение процесса и
      его адаптация, но и значительный уровень автоматизации процесса.
      Потребность в автоматизации возрастает с ростом масштаба работ. Точно так же, как процесс строительства будет
      изменяться в зависимости от того, строится ли домик для куклы, дом на одну семью или небоскреб, процесс создания
      ПО варьируется в широком диапазоне — от небольших заданий для одного человека, описание которых занимает одну
      страничку, до крупномасштабных, охватывающих несколько организаций, имеющих катастрофическую цену неудачи. Методы,
      обучение, временные рамки, критерии приемки и уровень автоматизации весьма различны для разных полюсов этого
      спектра. 
    </div>
    <div class="paragraph">
      Многие организации, занимающиеся созданием ПО, сталкиваются с необходимостью интеграции своей собственной среды и
      инфраструктуры в процесс создания ПО. Это обычно приводит к выбору более или менее несовместимых инструментов,
      которые имеют различные хранилища информации, поставляются разными производителями, работают на различных
      платформах, используют разную терминологию и основываются на различных подходах к процессу. Интеграция такой
      инфраструктуры оказывается гораздо проблематичнее, чем можно ожидать.
      Автоматизация процесса разработки и создание инфраструктуры для поддержки различных рабочих процессов в рамках
      проекта являются важными видами деятельности на стадии жизненного цикла, посвященной разработке. Они включают в
      себя выбор инструментов, изготовление инструментов на заказ и автоматизацию процесса, т.е. то, что необходимо для
      выполнения работ в соответствии с планом создания и с приемлемой эффективностью. Превращение среды разработки в
      среду сопровождения также важно для долговременных проектов по разработке ПО.
    </div>
    <div class="paragraph">
      Плохо то, что заинтересованные стороны проекта редко рассматривают среду как объект первостепенной важности,
      необходимый для длительного сопровождения продукта. Среда, обеспечивающая автоматизацию процесса, является весьма
      значимой составляющей, критичной для определения полной стоимости разрабатываемой системы. WBS верхнего уровня,
      рекомендованная в главе 10, рассматривает создание среды разработки как один из основных рабочих процессов.
    </div>
    <div class="paragraph">
      Для эффективного выполнения каждого уровня требуется определенная степень автоматизации процесса:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1. Метапроцесс, политика, приемы и практика, которые присущи некоей организации при ведении интенсивного
        бизнеса, связанного с программным обеспечением. Автоматизация на этом уровне называется инфраструктурой
        (infrastructure). Инфраструктура — это перечень выбранных инструментов, шаблоны рабочих продуктов, методические
        рекомендации по микро- и макропроцессу, репозиторий проекта, база данных для хранения информации о квалификации
        персонала, библиотека примеров планов и результатов прошлых проектов.
      </li>
      <li class="list-group-item">
        2. Макропроцесс: политика, приемы и практика, которые присущи некоему проекту по созданию законченного ПО с
        учетом ограничений по стоимости, срокам и качеству. Автоматизация такого процесса называется средой
        (environment). Среда — это определенный набор инструментов для создания определенного комплекта рабочих
        продуктов в соответствии с определенным планом проекта.
      </li>
      <li class="list-group-item">
        3. Микропроцесс, политика, приемы и практика, которые присущи команде разработчиков некоего проекта и направлены
        на создание рабочих продуктов в процессе разработки ПО. Автоматизация при создании каких-либо рабочих продуктов
        в общем
        случае называется инструментом (tool). Инструменты обычно включают в себя управление требованиями, визуальное
        моделирование, компиляторы, редакторы, отладчики, управление изменениями, автоматизацию измерения параметров,
        автоматизацию документирования, автоматизацию тестирования, оценку затрат и автоматизацию других рабочих
        процессов.
      </li>
    </ul>
    <div class="paragraph">
      Поскольку основное внимание при автоматизации процесса направлено на среду проекта в целом, важными предпосылками
      для нее являются общее состояние инфраструктуры организации, выполняющей проект, и инструменты как строительный
      материал.
    </div>
    <div class="subtitle">
      Инструменты: «кирпичики» автоматизации
    </div>
    <div class="paragraph">
      Существует множество инструментов, позволяющих автоматизировать процесс разработки ПО. В этом разделе дается обзор
      ядра среды, необходимого для поддержки процесса. В нем представлены наиболее важные универсальные инструменты,
      которые необходимы при выполнении различных проектов и хорошо соотносятся со схемой процесса. (Существует
      множество других инструментов и средств автоматизации процесса, не включенных в этот обзор.)
    </div>
    <div class="paragraph">
      У каждого из рабочих процессов имеются свои, особенные требования к автоматизации. В одних случаях нужно
      генерировать некие рабочие продукты, в других — просто вести учет. Ниже обсуждаются некоторые важные вопросы,
      касающиеся каждого из рабочих процессов.
    </div>
    <div class="subtitle">
      Управление проектом
    </div>
    <div class="paragraph">
      Существует много возможностей для автоматизации процедуры планирования проекта и различных видов деятельности по
      контролю в рамках управления проектом. Инструменты для оценки затрат и WBS-инструменты оказываются полезными для
      генерации рабочих продуктов по планированию. Для управления в соответствии с планом лучше использовать такие
      инструменты для управления и такую «панель управления» проекта, которые поддерживают текущую оценку состояния
      проекта в онлайновом режиме.
    </div>
    <div class="subtitle">
      Требования
    </div>
    <div class="paragraph">
      При традиционном подходе требования к системе разбиваются на требования к подсистемам, требования к подсистемам —
      на требования к компонентам, а требования к компонентам — на требования к блокам. Единый подход ко всем
      требованиям занимает многие рабочие часы, а затем время тратится на бумажную работу, которая связана с подробным
      сопоставлением и которая неминуемо пойдет насмарку позже, по мере изменения ведущих требований и понимания
      разработки.
    </div>
    <div class="paragraph">
      В современном процессе требования к системе содержатся в общей концепции. Более низкие уровни требований
      управляются процессом — организованным в виде итераций, а не в виде компонентов более низких уровней — с помощью
      критериев оценки. Эти критерии обычно содержатся в наборе вариантов использования и в других представленных в
      текстовом виде целях. Общая концепция определяет соглашение между группой разработчиков и заказчиком. Эта
      информация должна изменяться, но изменяться медленно на протяжении всего жизненного цикла. Она представляется в
      виде, понятном заказчику. Критерии оценки содержатся в рабочих продуктах — спецификациях версий, которые отражают
      временные цели для данной итерации.
    </div>
    <div class="paragraph">
      Критерии оценки следуют как из общей концепции, так и из многих других источников, таких как
      результаты анализа проблемы создания/покупки, вопросы управления рисками, архитектурные решения, ограничения при
      реализации, границы качества и даже смутные догадки.
    </div>
    <div class="paragraph">
      Итерационные модели позволяют разработчику и заказчику работать с постоянно изменяющимися версиями системы.
      Практически требования могут и должны меняться вместе с изменением архитектуры и последовательными улучшениями
      приложения. В этом случае и заказчик, и разработчик обладают одинаковым, объективным пониманием приоритетов и
      соглашений по цене/срокам/производительности, связанных с этими требованиями. Вместо того чтобы сосредоточиваться
      на непротиворечивости, полноте и трассируемости спецификаций неустоявшихся тре-бований, основное внимание в
      проектах должно уделяться получению правильных спецификаций общей концепции и преобразованию спецификаций более
      низких уровней посредством последовательного применения критериев оценки к итерациям, вносящим изменения в проект.
    </div>
    <div class="paragraph">
      Этот подход в применении к поддержке управления требованиями имеет две составляющие:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1. Рекомендуемый подход к требованиям зависит как от представления в текстовом виде, так и от представлений,
        основанных на моделях. Следовательно, среда должна обеспечивать интегрированную автоматизацию документирования и
        визуального моделирования, чтобы позволить хранить спецификации в текстовом виде и в виде моделей вариантов
        использования. Необходимо управлять внесением и отслеживанием изменений в обеих формах и представлять их в виде
        — электронном или бумажном,— удобном для восприятия человеком.
      </li>
      <li class="list-group-item">
        2. Необходимо автоматизировать трассировку между требованиями и другими рабочими продуктами процесса. Степень
        трассируемости между различными комплектами является предметом давней дискуссии. Мое мнение таково, что комплект
        требований должен иметь четко определенную связь с рабочими продуктами тестирования, поскольку команда оценки
        несет ответственность за демонстрацию уровня соответствия продукта требованиям. Однако я не вижу никаких
        серьезных причин добиваться жесткого взаимного соответствия между рабочими продуктами комплекта требований и
        другими видами технических рабочих продуктов. Описание проблемной области, представленное в комплекте
        требований, и описание области решений, представленное в других комплектах технических рабочих продуктов,
        зачастую имеют трассировку, которую трудно представить. Прежде всего это справедливо для основанных на
        компонентах ар-хитектур, в которых присутствует высокий процент коммерческих компонентов. Если процесс требует
        жесткой связи между требованиями и проектом, то архитектура, вероятнее всего, будет изменяться в сторону
        оптимизации трассировки требований, а не в сторону целостности проекта. Этот эффект становится еще более
        заметным при использовании инструментов, автоматизирующих процесс.
      </li>
    </ul>
    <div class="subtitle">
      Проектирование
    </div>
    <div class="paragraph">
      Инструменты, которые поддерживают процессы управления требованиями, проектирования, реализации и оценки, обычно
      используются совместно. Фактически, чем теснее они связаны, тем лучше. Основная поддержка, необходимая для
      проектирования,— это визуальное моделирование, которое применяется для создания моделей разработки, представления
      их в виде, пригодном для восприятия человеком, и для перевода в исходный код. Процесс с упреждающей разработкой
      архитектуры, основанный на демонстрациях, становится возможным благодаря наличию компонентов архитектуры и
      промежуточного ПО.
    </div>
    <div class="subtitle">
      Реализация
    </div>
    <div class="paragraph">
      Процесс реализации непосредственно основывается на среде программирования (редактор, компилятор, отладчик,
      загрузчик, поддержка во время выполнения). Но, кроме того, он должен быть интегрирован с инструментами,
      управляющими внесением изменений, с инструментами визуального моделирования и автоматизации тестирования.
    </div>
    <div class="subtitle">
      Оценка и внедрение
    </div>
    <div class="paragraph">
      Процесс оценки требует использования всех упомянутых выше инструментов, а также некоторых дополнительных — для
      автоматизации тестирования и для управления тестированием. Для упрощения внесения изменений проведение
      тестирования и изготовление документации должны быть автоматизированы. Отслеживание дефектов является еще одним
      важным инструментом, поддерживающим выполнение оценок: он обеспечивает инструментальное оформление, необходимое
      для автоматизации сбора параметров и контроля базовых версий. Этот инструмент требуется также для поддержки
      внедрения на протяжении всего жизненного цикла.
    </div>
    <div class="subtitle">
      Среда проекта
    </div>
    <div class="paragraph">
      Среда проекта имеет три дискретных состояния. Это среда для создания прототипов, среда разработки и среда
      сопровождения.
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1. Среда для создания прототипов включает в себя архитектурный «испы-тательный стенд» для тестирования, который
        используется для создания прототипа архитектуры проекта, являющегося основой для принятия технических решений в
        течение двух стадий жизненного цикла — начальной стадии и уточнения. Такая неформальная конфигурация
        инструментария должна поддерживать следующие виды деятельности:
        <ul>
          <li>Оценка производительности и анализ технических рисков</li>
          <li>Оценка альтернатив создания/покупки и изучение применимости коммерческих продуктов</li>
          <li>Выбор решений, касающихся устойчивости к ошибкам и динамического изменения конфигурации</li>
          <li>Анализ рисков, связанных с переходом к полномасштабной реализации</li>
          <li>Разработка сценариев тестирования и инструментов аналиа требований</li>
        </ul>
      </li>
      <li class="list-group-item">
        2. Среда разработки должна включать в себя полный набор инструментов разработки, необходимых для поддержки
        различных рабочих процессов, а также для поддержки «круговой» разработки в максимально возможной степени.
      </li>
      <li class="list-group-item">
        3. Среда сопровождения обычно должна совпадать с окончательной версией среды разработки. В некоторых случаях
        среда сопровождения может являться подмножеством среды разработки, поставляемой в качестве одного из конечных
        продуктов проекта.
      </li>
    </ul>
    <div class="paragraph">
      Переход к совершенному процессу разработки ПО создает новые проблемы и возможности для контроля за
      согласованностью действий и для оценки реального прогресса и качества. Опыт, полученный при осуществлении проектов
      в реальной жизни, показывает, что сильно интегрированная среда оказывается необходимой как для упрощения, так и
      для усиления контроля над процессом. С этой стороны существуют четыре важные дисциплины, которые критичны для
      управления и достиже-ния успеха в современном процессе итерационной разработки:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1. Инструменты должны быть интегрированы для поддержки непротиворечивости и трассируемости. «Круговая»
        разработка — это термин, который используется для описания ключевого требования к различным видам среды,
        поддерживающим итерационную разработку.
      </li>
      <li class="list-group-item">
        2. Управление изменениями должно быть автоматизировано и построено таким образом, чтобы можно было управлять
        сразу несколькими итерациями и обеспечивалась простота внесения изменений. Изменение — это фундаментальная
        составляющая итерационной разработки.
      </li>
      <li class="list-group-item">
        3. Различные виды организационной инфраструктуры позволяют строить разные среды проекта на основе одних и тех же
        процессов и инструментов. Общая инфраструктура проектов способствует их согласованности, постоянному обучению
        персонала, использованию извлеченных уроков и получению иных стратегических выгод.
      </li>
      <li class="list-group-item">
        4. Распространение поддержки автоматизации на среду других заинтересованных сторон обеспечивает дальнейшее
        развитие безбумажного обмена информацией и более эффективное рассмотрение рабочих продуктов проекта.
      </li>
    </ul>
    <div class="subtitle">
      «Круговая» разработка
    </div>
    <div class="paragraph">
      По мере того как индустрия ПО движется в направлении автоматизированной поддержки различных рабочих продуктов, все
      более и более возрастает необходимость в гарантии эффективности и безошибочности переноса данных из одних рабочих
      продуктов в другие. «Круговая» разработка — это поддержка среды, необходимая для обеспечения непротиворечивости
      различных рабочих продуктов.
    </div>
    <div class="paragraph">
      Автоматизированная трансляция проектных моделей в исходный код {как при прямом, так и при обратном проектировании)
      определяется довольно четко. Автоматизированная трансляция проектных моделей в модели процесса (распределенной
      среды) также постепенно упрощается за счет использования таких технологий, как ActiveX и Common Object Request
      Broker Architecture (CORBA).
    </div>
    <div class="paragraph">
      Компиляторы и загрузчики уже давно обеспечивают преобразование исходного кода в исполняемый код. По мере того как
      различные архитектуры начинают использовать разнородные компоненты, платформы и языки, сложность создания,
      управления и поддержания широкомасштабных сетей компонентов предъявляет новые требования к контролю за
      конфигурацией и к автоматизации управления сборкой приложений из компонентов. Однако современные среды не
      поддерживают автоматизацию в максимально возможной степени.
    </div>
    <div class="paragraph">
      Например, автоматизированное создание вариантов тестирования из описаний варианта использования и сценария до сих
      пор не в состоянии поддерживать что-либо, кроме наиболее тривиальных случаев, таких как сценарии тестирования
      отдельных модулей.
    </div>
    <div class="paragraph">
      Главная причина применения «круговой» разработки — это необходимость упростить внесение изменений в источники
      данных для разработки ПО. Такой контроль за конфигурацией всех технических рабочих продуктов важен для поддержания
      непротиворечивого и свободного от ошибок представления изменяющегося продукта. Однако нет никакой необходимости
      иметь переходы в двух направлениях во всех случаях. Например, хорошо было бы строить варианты тестирования для
      сценариев, описанных для заданного логического множества объектов, но мы не можем получать объекты исключительно
      на основании вариантов тестирования. Похожим образом, обратное превращение плохо написанного исходного кода в
      объектно-ориентированную проектную модель может оказаться непродуктивным.
    </div>
    <div class="paragraph">
      Трансляция данных из одного источника в другой не всегда может быть выполнена на 100%. Например, перевод проектных
      моделей в исходный текст на C++ может касаться только структурного и декларативного аспектов представления
      исходного кода. Компоненты кода по-прежнему должны быть наполнены спецификой атрибутов или методов конкретного
      объекта.
    </div>
    <div class="subtitle">
      Управление изменениями
    </div>
    <div class="paragraph">
      Управление изменениями так же важно для итерационного процесса, как и планирование. Отслеживание изменений в
      технических рабочих продуктах является решающим для понимания реальных тенденций прогресса разработки и тенденций
      качества, направленных на получение приемлемого конечного продукта или промежуточной версии. В рамках традиционных
      процессов создания ПО способы управления конфигурацией технических рабочих продуктов использовались
      преимущественно на поздних этапах жизненного цикла. В современном процессе, где комплекты рабочих продуктов
      требований, проекта и реализации представляются посредством строгих нотаций уже на ранних стадиях жизненного цикла
      и претерпевают множество изменений, управление изменениями оказывается фундаментальным для всех стадий и
      практически для всех видов деятельности.
    </div>
    <div class="subtitle">
      Запросы на внесение изменений
    </div>
    <div class="paragraph">
      Наименьшая неделимая единица программистской работы, в результате которой производится создание, изменение или
      отказ от устаревших компонентов в рамках базовой конфигурации, называется запросом на внесение изменений в ПО
      (SCO, Software Change Order). Запросы на внесение изменений — один из главных механизмов распределения и
      планирования работы по созданию ПО. Здесь показан уровень детализации, необходимый
      для управления изменениями в современном процессе создания ПО. За счет автоматизации ввода данных и поддержки
      записей с изменениями в онлайновом режиме может быть автоматизирована и бюрократическая составляющая управления
      изменениями, связанная с различными отчетами о состоянии проекта.
    </div>
    <div class="paragraph">
      Определение уровня, на котором следует писать SCO, всегда является проблемой. Что такое отдельное изменение?
      Является оно изменением модуля программы или компонента, файла или подсистемы? Является ли оно новой возможностью,
      исправлением дефекта илй повышением производительности? Для большинства проектов неделимая единица измерения SCO
      принимается без особого труда. Вообще говоря, SCO должен быть написан для отдельного компонента, чтобы его
      выполнение можно было возложить на одного человека. Если исправления требуют труда двух человек из двух разных
      команд, необходимо писать два отдельных SCO.
    </div>
    <div class="paragraph callout">
      Основными полями SCO являются название, описание, параметры, исправления, оценка и диспозиция.
    </div>
    <div class="subtitle">
      Название
    </div>
    <div class="paragraph">
      Название предлагается автором и окончательно утверждается советом по контролю за конфигурацией (ССВ, Configuration
      Control Board). В этом же поле должна содержаться ссылка на внешний отчет о проблеме, если это изменение было
      инициировано извне (например, пользователем).
    </div>
    <div class="subtitle">
      Описание
    </div>
    <div class="paragraph">
      Описание проблемы включает в себя имя автора, дату возникновения, присвоенный ССВ идентификатор и идентификаторы
      соответствующих версий вспомогательного ПО. Описание проблемы в текстовом виде должно содержать как можно больше
      деталей, к нему должны прилагаться участки программы, копии экрана, сообщения об ошибках и любые другие данные,
      которые могут помочь локализовать проблему или описать необходимые изменения.
    </div>
    <div class="subtitle">
      Параметры
    </div>
    <div class="paragraph">
      Параметры, собираемые по каждому запросу, важны для планирования, составления графика и оценки качества. Категория
      вносимых изменений может иметь тип 0 (критичная ошибка), 1 (ошибка), 2 (усовершенствование), 3 (новая возможность)
      и 4 (другое). При принятии запроса выполняются предварительные оценки дефектов в ПО и объема работ, необходимого
      для решения проблемы. Графа «Дефект» является количественным выражением объема требуемых изменений, «Переделка»
      дает количественное определение сложности вносимых изменений. По мере внесения исправлений фиксируется реальный
      объем дефектного ПО и уточняются реальные объемы работ, необходимые для переделок. В графе «Анализ» указывается
      число человеко-часов, затраченных на понимание требуемых изменений (воспроизведение проблемы, ее локализация и
      устранение, если тип изменений 0 или 1; анализ и создание прототипов альтернативных решений, если тип равен 2 или
      3). Графа «Реализация» определяет количество человеко-часов, затраченных на проектирование и реализацию
      исправления. В графе «Тестирование» указывается количество часов, затраченных на тестирование исправлений, графа
      «Документация» определяет об-щий объем работ по обновлению других рабочих продуктов, таких как руководство
      пользователя или описание версии. Количество дефектного ПО задает глубину вносимых изменений и может выражаться в
      SLOC, функциональных точках, файлах, компонентах или классах. В случае выбора SLOC программа сравнения исходных
      файлов, которая выявляет количественные различия, может предоставить простую оценку объема дефектного ПО. Вообще
      говоря, точное значение числа дефектных строк не слишком важно. При изменении от 0 до 100 строк их количество
      следует округлять до ближайшего десятка, при изменении от 100 до 1000 строк — до ближайшей сотни и т.д.
    </div>
    <div class="subtitle">
      Исправление
    </div>
    <div class="paragraph">
      Это поле включает в себя имя ответственного за реализацию вносимых изменений, изменяемые компоненты, реальные
      показатели и описание изменений. Уровень детализации компонентов, допускающий их передачу для внесения изменений,
      может варьироваться, но, вообще говоря, самый низкий уровень передаваемых компонентов должен быть приблизительно
      таким, чтобы работу мог выполнить один человек. Например, просто «компонент» является недостаточной детализацией
      для передачи команде.
    </div>
    <div class="subtitle">
      Оценка
    </div>
    <div class="paragraph">
      Это поле описывает способ выполнения оценок: проверка, анализ, демонстрация или тестирование. В тех случаях, когда
      это возможно, следует ссылаться на все выполненные тесты как по уже существующим вариантам тестирования, так и по
      вновь созданным, и должны определяться все конфигурации, при которых выполнялось тестирование: платформы,
      топология и компиляторы.
    </div>
    <div class="subtitle">
      Диспозиция
    </div>
    <div class="paragraph">
      ССВ присваивает запросу одно из следующих значений статуса:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Предложен: запрос написан и ожидает рассмотрения ССВ
      </li>
      <li class="list-group-item">
        Принят: ССВ утвердил запрос
      </li>
      <li class="list-group-item">
        Отклонен: запрос закрыт с указанием причин — например, не является проблемой, повтор, устаревшие изменения,
        выполнено по другому запросу
      </li>
      <li class="list-group-item">
        На хранение: запрос принят, но отложен до более поздней версии

      </li>
      <li class="list-group-item">
        В работе: запрос передан, и по нему ведется активная работа в организации-разработчике

      </li>
      <li class="list-group-item">
        На оценке: выполнен организацией-разработчиком; находится на оценке в организации, выполняющей тестирование

      </li>
      <li class="list-group-item">
        Закрыт: полностью выполнен, с чем согласны все члены ССВ.
      </li>
    </ul>
    <div class="paragraph callout">
      ССВ может также присвоить приоритет и идентификатор версии для определения
    </div>
    <div class="subtitle">
      Базовая конфигурация
    </div>
    <div class="paragraph">
      Базовая конфигурация — это поименованный набор программных компонентов вместе с необходимой документацией, который
      подвергается внесению изменений и обновляется, сопровождается, тестируется и признается морально устаревшим как
      единое целое. Для систем управления сложной конфигурацией существует множество стандартов, специфич-ных для
      данного проекта и для данной предметной области.
    </div>
    <div class="paragraph">
      Существуют два класса базовых конфигураций: внешняя версия продукта и внутренние тестовые версии. Базовая
      конфигурация — это поименованный набор компонентов, рассматриваемый как единое целое. За этим следят формально,
      поскольку ее используют в качестве формы обмена между группами. Например, организация-разработчик может пере-дать
      версию базовой конфигурации организации, выполняющей тестирование, и даже самой себе. При выполнении проекта
      версия базовой конфигурации может быть передана сообществу пользователей для бета-тестирования.
    </div>
    <div class="paragraph">
      В общем случае для большинства систем требуются три уровня базовых версий: основные, второстепенные и
      промежуточные. Каждому уровню соответствует число в идентификаторе вида N.M.X, где N — номер основной версии, М —
      номер второстепенной версии, а X — идентификатор промежуточной версии. Основная версия представляет собой новое
      поколение продукта или проекта, в то время как второстепенная версия — это тот же основной продукт, но с
      улучшенными возможностями, производительностью или качеством. Основные и второстепенные версии обычно являются
      внешними версиями продукта, которые остаются неизменными и поддерживаются в течение некоторого периода рремени.
      Промежуточная версия соответствует рабочей конфигурации, которую намереваются использовать как временную. Чем
      короче ее жизненный цикл, тем лучше.
    </div>
    <div class="paragraph">
      Как только базовая версия ПО попадает под контроль, все изменения в нем начинают отслеживаться. Нужно различать
      причины, по которым возникает необходимость вносить изменения. Существуют следующие категории изменений:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Тип 0: критичные ошибки — это такие ошибки, которые почти всегда фиксируются перед каждой внешней версией.
        Вообще говоря, этот вид изменений представляет собой фатальные ошибки, которые оказывают влияние на применимость
        ПО в наиболее важных вариантах использования.

      </li>
      <li class="list-group-item">
        Тип 1: ошибка или дефект, который либо не ухудшает полезность системы, либо его можно обойти. Такие ошибки
        обычно связаны с некоторыми неудобствами в критичных вариантах использования или с серьезными дефектами во
        второстепенных вариантах использования, вероятность столкнуться с которыми сравнительно низка. 
      </li>
      <li class="list-group-item">
        Тип 2: изменение, которое можно рассматривать скорее как усо-вершенствование, нежели как реакцию на ошибку. Его
        целью, как правило, является повышение производительности, улучшение тестируемости, применимости или какого-либо
        другого аспекта качества, что является свидетельством высокого класса разработки.
      </li>
      <li class="list-group-item">
        Тип 3: изменение, необходимость которого вызвана обновлением требований. Это могут быть новые свойства или
        функциональные возможности, находящиеся вне рамок текущей общей концепции и бизнес-плана.
      </li>
      <li class="list-group-item">
        Тип 4: изменения, которые не подходят ни под одну из других категорий. Примеры подобных изменений включают в
        себя изменения только в документации или обновление версии под коммерческие компоненты.
      </li>
    </ul>
    <div class="paragraph">
      В таблице приведены примеры таких изменений в контексте двух различных проектных областей: крупномасштабная
      высоконадежная система контроля за воздушным движением и инструмент для разработки ПО в виде прикладного пакета.
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Характерные примеры изменений для двух разных проектов
      </div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="col-md-2">Тип изменений</th>
          <th class="col-md-4">Проект системы контроля за воздушным движением</th>
          <th class="col-md-6">Инструмент для визуального моделирования</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Тип 0</td>
          <td>Блокировка управления и потеря полетных данных</td>
          <td>Потеря данных пользователя</td>
        </tr>
        <tr>
          <td>Тип 1</td>
          <td>Время ожидания ответа, превышающее указанное в требованиях на 0.5 с</td>
          <td>Браузер разворачивает, но не сворачивает выведенные записи</td>
        </tr>
        <tr>
          <td>Тип 2</td>
          <td>Добавление внутреннего поля для вывода времени ожидания ответа</td>
          <td>
            Использование различных цветов для того, чтобы можно было отличать изменения б визуальной модели,
            внесенные по сравнению с предыдущей версией
          </td>
        </tr>
        <tr>
          <td>Тип 3</td>
          <td>Увеличение числа полетов, которыми можно управлять одновременно, с 1200 до 2400</td>
          <td>
            Переход на новую платформу, например WinNT .
          </td>
        </tr>
        <tr>
          <td>Тип 4</td>
          <td>Переход с Oracle 7 на Oracle 8 для ускорения обработки запросов</td>
          <td>
            Прерывание при обращении к MSExcel 5.0 из-за ошибки, возникающей при управлении ресурсами в Windows
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="subtitle">
      Совет по контролю за конфигурацией
    </div>
    <div class="paragraph">
      ССВ (Configuration Control Board) — это группа людей, которая принимает ответственные решения относительно базовой
      конфигурации. В состав ССВ обычно входят менеджер по созданию ПО, менеджер по созданию архитектуры ПО, менеджер по
      разработке ПО, менеджер по оценке ПО и другие заинтересованные стороны (заказчик, менеджер проекта по созданию ПО,
      системный инженер, пользователь), которые совместно отвечают за сопровождение поставляемой программной системы.
      Обычно ССВ принимает меры в результате проведения совещаний. Но в определенных ситуациях могут иметь смысл
      распространение, согласование и утверждение действий ССВ, выполняемые в онлайновом режиме.
    </div>
    <div class="paragraph">
      В понятие итерационного процесса разработки должно входить все-объемлющее и строгое управление изменениями в
      базовых версиях ПО. Фундаментальный процесс управления разработкой и сопровождения ПО описывается с помощью набора
      последовательных состояний, определяемых SCO. Слова в квадратных скобках ([]) описывают состояние SCO по мере его
      движения по процессу.
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        [Предложен]. Предварительная версия предложенного изменения передана на рассмотрение ССВ. В предлагаемое
        изменение должны входить техническое описание проблемы и приблизительная оценка необходимых для ее решения
        усилий.
      </li>
      <li class="list-group-item">
        [Принят, на хранение, отклонен] ССВ присваивает уникальный идентификатор каждому предложенному изменению и либо
        принимает, либо сохраняет, либо отвергает это изменение. Принятие означает внесение изменений уже в следующей
        версии; принятие на хранение означает, что изменения приняты, но отложены до будущих версий; отклонение
        квалифицирует изменение как не заслуживающее внимания, лишнее с учетом других предложенных изменений или
        выходящее за рамки проекта. ССВ убеждается в том, что все поля запроса заполнены правильно и точно, перед тем
        как принять его, после чего запрос направляется лицу, ответственному за внесение изменений в
        организации-разработчике.
      </li>
      <li class="list-group-item">
        [В работе]. Ответственное лицо выполняет анализ, реализацию и тестирование решения, удовлетворяющего запросу.
        Эта задача включает в себя обновление документации, описания версии и реальных значений параметров запроса, а
        также составление при необходимости новых запросов. Добившись полного решения, ответственное лицо заполняет
        раздел «Исправление» запроса и передает его для оценки независимой команде по тестированию.
      </li>
      <li class="list-group-item">
        [На оценке]. Независимая команда по тестированию оценивает, полностью ли выполнен запрос. Если это так, запрос
        передается в ССВ для окончательного закрытия.
      </li>
      <li class="list-group-item">
        [Закрыт]. Когда организация-разработчик, независимая тестирующая организация и ССВ соглашаются с тем, что запрос
        выполнен, он получает статус закрытого.
      </li>
    </ul>
    <div class="subtitle">
      Различные виды инфраструктуры
    </div>
    <div class="paragraph">
      С точки зрения автоматизации процесса организационная инфраструктура обеспечивает основные активы организации, в
      том числе два основных рабочих продукта: политику, включающую в себя стандарты процессов для проектов разработки
      ПО, и среду, содержащую перечень инструментов. Эти инструменты являются строительными «кирпичиками», из которых
      можно эффективно и экономично компоновать среду проекта.
    </div>
    <div class="subtitle">
      Организационная политика
    </div>
    <div class="paragraph">
      Организационная политика обычно представлена в виде справочного ру-ководства, в котором дается определение
      элементарных понятий жизненного цикла и процесса (основные контрольные точки, промежуточные рабочие продукты,
      проектные репозитории, метрики, роли и ответственность). Справочное руководство содержит основу для ответа на
      следующие вопросы:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Что делается? (виды деятельности и рабочие продукты)
      </li>
      <li class="list-group-item">
        Когда это делается? (соответствие стадиям жизненного цикла и контрольным точкам)
      </li>
      <li class="list-group-item">
        Кем это делается? (распределение ролей и ответственности в команде)
      </li>
      <li class="list-group-item">
        Как убедиться в адекватности? (контрольные точки, параметры и стандарты)
      </li>
    </ul>
    <div class="paragraph">
      Требование баланса является важным соображением при определении организационной политики. Нередко организации
      впадают в одну из двух крайностей: отсутствие установленного процесса или чересчур большое количество
      стандартизации и бюрократии. Эффективные виды организационной политики имеют несколько общих особенностей:

    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Они кратки и избегают положений о политике, для описания которых требуются документы пятнадцатисантиметровой
        толщины.
      </li>
      <li class="list-group-item">
        Они облекают политику в реальные обязательства, а затем способствуют их выполнению.
      </li>
      <li class="list-group-item">
        Они избегают использования в положениях о политике слова «следовало бы». Вместо меню возможностей («следовало
        бы») политика нуждается в кратком перечне обязательных стандартов («следует»),
      </li>
      <li class="list-group-item">
        Отказ от отдельных положений является не правилом, а исключением.
      </li>
      <li class="list-group-item">
        Соответствую щая политика пишется на соответствующем уровне.
      </li>
    </ul>
    <div class="paragraph">
      Последний пункт заслуживает более подробного обсуждения. В индустрии, связанной с разработкой ПО, существует
      множество разных организационных структур. Компании, интенсивно разрабатывающие ПО, обладают тремя различными
      уровнями организации, на каждом из которых политика уделяет основное внимание определенным аспектам:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Высший организационный уровень: стандарты, которые способствуют (1) стратегическим и долговременным улучшениям
        процесса, (2) использованию общей технологии и обучения, (3) сравнимости работы подразделения, осуществляющего
        проект, с работой подразделения, занимающегося бизнесом, и (4) обязательному контролю качества.
      </li>
      <li class="list-group-item">
        Средний уровень основной деятельности организации: стандарты, которые способствуют (1) тактическим и
        кратковременным улучшениям процесса, (2) внедрению и обучению специфической для данной области технологии, (3)
        повторному использованию компонентов, процессов, обучения, инструментов и опыта сотрудников и (4) соответствию
        стандартам, принятым в организации.
      </li>
      <li class="list-group-item">
        Низший уровень проекта: стандарты, которые способствуют (1) достижению поставленных целей по качеству, срокам и
        затратам, (2) специальному обучению для данного проекта, (3) соответствию требованиям заказчика и (4)
        соответствию стандартам, принятым в организации / подразделении.
      </li>
    </ul>
    <div class="paragraph">
      В общем случае стандартизация должна сосредоточиваться на подразделениях основной деятельности организации, а не
      на высшем уровне или уровне проектов. Эффект от стандартизации наиболее заметен именно на том уровне, где
      присутствует наибольшая общность и возможность повторного использования в проектах, процессах и инструментах.
    </div>
    <div class="paragraph">
      Стандартизация способов и инструментов для разработки ПО в рамках различных областей деятельности — дело весьма
      сложное, поскольку приоритеты процесса, инструменты, способы, методы и культура заинтересованных сторон могут быть
      совершенно различными. Попытки стандартизации внутри нескольких областей, имеющих между собой мало общего,
      приводят либо к совершенно размытым положениям политики, либо к отказу от отдельных положений, которые
      используются чересчур часто. Стандартизация на слишком высоком уровне также весьма проблематична. Если все команды
      разработчиков оставить один на один со своими задачами, то все процессы и среды проекта вскоре окажутся локально
      оптимизированными. Со временем вся инфраструктура организации по улучшению и усовершенствованию процесса будет
      выхолощена.
    </div>
    <div class="paragraph">
      Организационная политика является определяющим документом для всех вариантов политики организации в области
      создания ПО. При любой оценке процесса она представляет собой основное руководство к действию. Используя этот
      документ, каждый получает возможность исследовать и изучать проекты и персонал с целью выяснения, выполняет ли
      организация то, что она декларирует.
    </div>
    <div class="subtitle">
      Контуры организационной политики. Организационная среда.
    </div>
    <div class="paragraph">
      Организационная среда для автоматизации стандартного процесса дает ответы на многие вопросы относительно того, как
      практически устроены различные вещи, а также предоставляет инструменты и способы для автоматизации процесса. Ниже
      приводятся типичные компоненты строительных «кирпичиков» для автоматизации деятельности:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Стандартизированный выбор инструментов (посредством инвестирования конкретной лицензии либо посредством
        переговоров с поставщиками о предоставлении выгодных скидок с тем, чтобы у команд, работающих над проектом,
        появлялась экономическая мотивация использовать именно этот инструмент), который способствует развитию основных
        рабочих процессов и повышает ROI при обучении.
      </li>
      <li class="list-group-item">
        Стандартные нотации для рабочих продуктов, такие как UML для всех проектных моделей или Ada 95 для всех
        разрабатываемых на заказ критичных по надежности рабочих продуктов.
      </li>
      <li class="list-group-item">
        Дополнения к инструментам, например заранее разработанные или выполненные на заказ шаблоны (описание
        архитектуры, критерий оценки, описания версий, оценки состояния).
      </li>
      <li class="list-group-item">
        Шаблоны для различных видов деятельности (планирование итерации, деятельность в рамках основной контрольной
        точки, деятельность советов по контролю за конфигурацией).
      </li>
      <li class="list-group-item">
        Другие компоненты организационной инфраструктуры, польза от которых является косвенной:
        <ul>
          <li>Библиотека ссылок на предшествующий опыт планирования, оценки и улучшения параметров процесса; ответы на
            вопросы «Насколькохорошо?», «Как много?», «Почему?»
          </li>
          <li>Существующие практические примеры, включая объективные точки отсчета для оценки успешно завершившихся
            проектов, которые следовали принципам организационного процесса
          </li>
          <li>Библиотека примеров рабочих продуктов проекта, таких как планы разработки ПО, описания архитектуры и
            истории оценок состояния
          </li>
          <li>Модели проведения аудита и способы сопоставления с внешними схемами оценки, такими как Software
            Engineering Institute’s Capability Maturity Model (SEI CMM).
          </li>
        </ul>
      </li>
    </ul>
    <div class="subtitle">
      Среда для других заинтересованных сторон
    </div>
    <div class="paragraph">
      При переходе к современному итерационному процессу разработки, под-держиваемому автоматизацией, не следует
      ограничиваться только командой разработчиков. Многие широкомасштабные проекты, выполняемые по контрактам,
      вовлекают людей из сторонних организаций, которые представляют другие заинтересованные стороны, принимающие
      участие
      в процессе разработки. Среди них могут быть наблюдатели за ходом выполнения контракта из посреднической
      организации, персонал конечного пользователя по инженерному сопровождению продукта, сторонние подрядчики по
      сопровождению продукта, независимые подрядчики, выполняющие верификацию и аттестацию, представители регулирующего
      органа и др.
    </div>
    <div class="paragraph">
      Представителям других заинтересованных сторон тоже необходим доступ к ресурсам среды разработки для того, чтобы
      они могли вносить свой вклад в общее дело. Если у внешней команды, представляющей ту или иную заинтересованную
      сторону, отсутствуют ресурсы среды, позволяющие им принимать рабочие продукты в онлайновое режиме, единственным
      средством для обмена информацией является бумага.
    </div>
    <div class="paragraph">
      Среда, допускающая доступ заинтересованных сторон извне в онлайновом режиме, позволяет им принимать участие в
      процессе следующим образом:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Получать и использовать работающие продукты для выполнения оценок вручную
      </li>
      <li class="list-group-item">
        Использовать в онлайновом режиме те же инструменты, данные и отчеты, которые организация-разработчик применяет
        для управления и наблюдения за проектом
      </li>
      <li class="list-group-item">
        Исключить излишние поездки, задержки, связанные с обменом бумагами и переводом в другие форматы, расходы на
        бумагу и доставку, а также другие накладные расходы
      </li>
      <li class="list-group-item">
        Технические рабочие продукты — это не только бумага. Материалы в электронном виде в строгой нотации, например
        визуальные модели или исходный код, могут рассматриваться более эффективно при использовании инструментов вместе
        с подходящими браузерами.
      </li>
      <li class="list-group-item">
        Независимые оценки изменяющихся рабочих продуктов становятся возможными благодаря электронному доступу в режиме
        чтения к текущим данным, таким как библиотеки базовой конфигурации и база данных управления изменениями.
        Рассмотрения и проверки, оценки дефектного кода и переделок, анализ параметров и даже бета-тестирование могут
        выполняться независимо от команды раз-работчиков.
      </li>
      <li class="list-group-item">
        Даже бумажные документы должны доставляться электронным способом для снижения стоимости продукции и времени
        оборота.
      </li>
    </ul>
  </div>
</div>
