<div class="row">
  <div class="article">
    <div class="title">
      Обязанности членов бригады. Распределение обязанностей в бригаде.
    </div>
    <div class="paragraph">
      Бизнес ПО и команды, работающие над проектами, имеют различные мотивации. Бизнес ПО мотивируется отдачей от
      инвестиций, новизной, диверсификацией рынка и прибыльностью. Команды, работающие над проектами, мотивируются
      стоимостью, сроками и качеством конкретных продуктов.
    </div>
    <div class="paragraph">
      Профессионалы в области ПО в обоих типах организаций мотивируются карьерным ростом, удовлетворением от работы и
      возможностью выбора.
    </div>
    <div class="paragraph callout">
      Эта тема хорошо освещена в «А Discipline for Software Engineering» [Humphrey, 1995].
    </div>
    <div class="paragraph">
      В прошлом все внимание при организации уделялось (и справедливо) проекту, т.е. уровню, на котором ПО
      разрабатывалось и внедрялось. При выполнении проектов преследовались эгоистические интересы, в рамках проектов
      редко делались инвестиции в какие-либо технологии или услуги, если те не оказывали непосредственного влияния на
      стоимость, сроки или качество получаемого в результате продукта. В этой главе рекомендуются и описываются
      различные способы организации для ведения бизнеса и для выполнения проекта. Предварительное описание
      организа-ционных иерархий является опасным предприятием, если учитывать 
      особенности конкретных организаций и людей. Мы обсудим общие роли, взаимоотношения и распределение обязанностей.
      Для любого данного проекта или направления бизнеса эти обсуждения следует рассматривать как отправную точку. Их
      адаптация к конкретной предметной области, масштабу, культуре и персоналиям для некоторой конкретной ситуации
      может привести к целому набору различных реализаций. Может оказаться подходящей, например, иная организация
      проекта или команды, с разделением или объединением представленных ролей. Как бы то ни было, наши рекомендации
      основаны на опыте успешных проектов и могли бы предложить подходящую схему для большинства организаций.
    </div>
    <div class="subtitle">
      Организации различных отраслей промышленности
    </div>
    <div class="paragraph">
      <img class="img-responsive img-thumbnail" src="images/article-4-structure.png">
    </div>
    <div class="well-sm">
      На рисунке показано распределение ролей и обязанностей в обычной промышленной организации. Эта структура может
      адаптироваться к конкретным обстоятельствам.
    </div>
    <div class="paragraph">
      Обычная организация имеет следующие основные особенности:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Ответственность за описание процесса и его сопровождение специфична для конкретного направления бизнеса, где
        имеет смысл говорить об общности процессов. Например, процесс разработки ПО для авиации отличен от процесса,
        используемого для разработки офисных приложений.
      </li>
      <li class="list-group-item">
        Ответственность за автоматизацию процесса — это организационная роль, которая по важности равна роли определения
        процесса. Проекты достигают общности процессов прежде всего за счет поддержки общего инструментария.
      </li>
      <li class="list-group-item">
        Организационные роли могут выполняться отдельным индивидуумом или несколькими различными командами, в
        зависимости от масштаба организации. Компании по производству ПО со штатом 20 человек может хватить одного
        человека для выполнения всех ролей, в то время как телекоммуникационной компании со штатом в 10000 человек
        требуются сотни людей для создания эффективной организации по разработке ПО.
      </li>
    </ul>
    <div class="subtitle">
      Ответственный за процесс разработки ПО
    </div>
    <div class="paragraph">
      Ответственный за процесс разработки ПО (Software Engineering Process Authority, SEPA) обеспечивает обмен
      информацией и руководствами по процессу между практиками, занимающимися проектом. Это лицо отвечает перед
      руководителем организации за выполнение текущих оценок зрелости процесса в данной организации и за планирование
      дальнейшего его развития. SEPA должен оказывать помощь при инициировании проекта и периодически оценивать его
      процессы. Распространение лучшей практики при создании ПО может выполняться только в том случае, если SEPA
      понимает как само необходимое улучшение, так и особенности конкретного проекта. Он является ответственным и
      подотчетным за определение процесса и его сопровождение (модификацию, совершенствование, внедрение новых
      технологий). Функции SEPA могут выполняться отдельным лицом, руководителем организации либо целой командой
      представителей. SEPA должен действительно быть ответственным — компетентным и обладающим властью, — а не
      бессильным перед неэффективной бюрократией должностным лицом.
    </div>
    <div class="subtitle">
      Ответственный за проверку проекта
    </div>
    <div class="paragraph">
      Ответственный за проверку проекта (Project Review Authority, PRA) — отдельное лицо, отвечающее за то, чтобы проект
      по созданию ПО подчинялся всем организационным и экономическим правилам, практике и стандартам, касающимся ПО.
      Менеджер проекта по созданию ПО ответственен за соблюдение требований контракта или каких-то других стандартов,
      которым подчиняется проект, и подотчетен PRA. PRA рассматри-вает вопросы соответствия проекта как контрактным
      обязательствам, так и обязательствам, вытекающим из организационной политики проекта. Заказчик следит за
      требованиями контракта, контрольными точками, контрактными обязательствами, ежемесячным анализом состояния
      управления проектом, прогрессом, качеством, затратами, сроками и риском. PRA рассматривает поручения заказчика, а
      также следит за строгим соблюдением политики организации, выполнением финансовых условий и за другими рисками и
      аспектами.
    </div>
    <div class="subtitle">
      Ответственный за среду разработки ПО
    </div>
    <div class="paragraph">
      Ответственный за среду разработки ПО (Software Engineering Environment Authority, SEEA) отвечает за автоматизацию
      процесса, сопровождение стандартной среды, обучение пользованию средой и сопровождение в организации наработок,
      пригодных для повторного использования. Роль, которую выполняет SEEA, необходима для достижения высокого уровня
      отдачи от вложенных ресурсов для обычного процесса. Инструменты, методы и обучение могут эффективно
      амортизироваться на протяжении нескольких проектов только в том случае, если кто-то (например, SEEA) будет
      отвечать за сопровождение и администрирование стандартной среды. Во многих случаях среда может быть улучшена,
      изменена по требованию или модифицирована, однако существование готового на 80% решения для каждого проекта
      критично для утверждения процесса, используемого организацией, и для обеспечения хорошего ROI от инструментов.
    </div>
    <div class="subtitle">
      Инфраструктура
    </div>
    <div class="paragraph">
      Инфраструктура организации обеспечивает поддержку людских ресурсов, независимые от проектов исследования и
      разработки, а также другие важнейшие направления, связанные с созданием ПО. Она может изменяться в диапазоне от
      тривиальной до глубоко окопавшейся бюрократии. Типичными компонентами организационной инфраструктуры являются
      следующие:

    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Администрирование проекта: система учета времени; контракты, цены, сроки и условия; интеграция в корпоративные
        информационные системы.
      </li>
      <li class="list-group-item">
        Инновационные центры: поддержка инструментария, заявок и предложений, независимые исследования и разработки.
      </li>
      <li class="list-group-item">
        Профессиональный рост: внутренний выездной лагерь для обучения, найм персонала, сопровождение базы данных по
        квалификации персонала, библиотека специальной литературы, публикации.
      </li>
    </ul>
    <div class="paragraph">
      Сервисный центр организации обеспечивает стандартную среду, которая финансируется за счет основного бизнеса и
      поддерживается в качестве основных фондов для всех проектов, выполняемых в рамках организации. SEEA является
      компаньоном SEP A. SEPA отвечает за определение и усовершенствование процесса, a SEEA — за автоматизацию процесса.
    </div>
    <div class="paragraph">
      Представляется важным, чтобы менеджеры организации рассматривали среду для разработки ПО так же, как технические
      средства, т.е. как оборудование, входящее в основные фонды. В большинстве мелких и незрелых организаций существует
      сопротивление такому подходу; в них специальная разработка процесса и инструментальное обеспечение относятся к
      прямым затратам проекта. В зрелых организациях, занимающихся созданием ПО, процесс и инструментальное обеспечение
      должны являться основными фондами организации так же, как это происходит в других инженерных дисциплинах. А раз
      так, то они должны
      финансироваться из капитальных ресурсов. Финансовые модели могут предполагать включение этих затрат в накладные
      расходы или в общие и административные затраты либо в смету проекта, основанную на его вы-полнении. В сегодняшней
      индустрии ПО, характеризующейся устаревшими методами отчетности, финансированием обеспечения инструментами за счет
      проектов и методами лицензирования ПО, относительно небольшое количество организаций перешло на подобную модель
      капитальных вложений для своих программных сред. Такими организациями являются, как правило, достаточно зрелые,
      крупномасштабные организации-разработчики ПО, которые достигли стабильного определения процесса и установили
      долговременное сотрудничество с поставщиками инструментальных средств.
    </div>
    <div class="subtitle">
      Проектные организации
    </div>
    <div class="paragraph">
      Основными особенностями стандартной организации являются следующие:
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        Команда управления проектом является активным участником, от-ветственным за производство в той же степени, что и
        за управление. Управление проектом — это не спортивное «боление».
      </li>
      <li class="list-group-item">
        Команда, разрабатывающая архитектуру, отвечает за реальные рабочие продукты и за интеграцию компонентов, а не
        только за выполнение руководящих функций.
      </li>
      <li class="list-group-item">
        Команде по разработке поручается создание компонентов и сопро-вождение. Команда по оценке отделена от
        разработки. Такая структура благоприятствует независимому взгляду на качество и стимулирует осуществление
        тестирования и деятельности по оценке продукта параллельно с ведущейся разработкой.
      </li>
      <li class="list-group-item">
        Качество — это всеобщая забота, оно проходит через все виды дея-тельности и контрольные точки. Каждая команда
        отвечает за определенный аспект качества.
      </li>
    </ul>
    <div class="subtitle">
      Команда управления проектом
    </div>
    <div class="paragraph">
      Большинство проектов страдает от избытка ограничений. Сроки, затраты, функциональные возможности и ожидаемое
      качество тесно взаимосвязаны и требуют постоянных согласований между многими-заинтересованными сторонами,
      преследующими различные цели. Команда управления проектом отвечает за то, чтобы все заинтересованные стороны
      остались довольны полученными в проекте результатами. В этом отношении менеджеру проекта приходится каждый день
      беспокоиться о балансе интересов.
    </div>
    <div class="paragraph">
      Команда управления проектом ответственна за планирование работ, выполнение плана и адаптацию плана к изменениям в
      требованиях или проекте. Для этого команда принимает на себя управление ресурсами и границами проекта, а также
      устанавливает рабочие приоритеты на протяжении всего жизненного цикла. На абстрактном уровне эта деятельность
      соответствует управлению ожиданиями всех заинтересованных сторон на протяжении жизненного цикла.
    </div>
    <div class="paragraph">
      Команда управления проектом принимает на себя ответственность за все аспекты качества. В частности, она отвечает
      за поддержание такого баланса между этими аспектами, чтобы общее решение устраивало все заинтересованные стороны и
      было оптимальным для возможно большего их числа.
    </div>
    <div class="subtitle">
      Команда по архитектуре ПО
    </div>
    <div class="paragraph">
      Команда по архитектуре ПО отвечает за архитектуру. Эта ответственность включает в себя разработки, которые
      необходимы для определения полной спецификации материалов, требуемых ПО.
    </div>
    <div class="paragraph">
      Квалификация команды по архитектуре ПО является критически важной для любого проекта. Она создает основу для
      взаимодействия между различными командами, достижения качества системы в целом и реализации приложений. При
      наличии хорошей команды по архитектуре можно добиться успеха со средней командой разработчиков. Если же
      архитектура слаба, то даже команда экспертов по разработке, состоящая из суперпрограммистов, вряд ли добьется
      успеха.
    </div>
    <div class="paragraph">
      Для большинства проектов на начальной стадии и стадии уточнения будут доминировать две различные команды: команда
      управления проектом и команда по архитектуре ПО. (Даже это различие может оказаться размытым в зависимости от
      масштаба проекта.) При подготовке полномасштабной стадии производства существует тенденция привлекать команды по
      разработке и оценке ПО на вспомогательные роли. К тому времени, когда начинается стадия конструирования,
      архитектура переводится в режим сопровождения и должна поддерживаться минимальным уровнем усилий лишь для того,
      чтобы гарантировать непрерывную преемственность разработки.
    </div>
    <div class="subtitle">
      Виды деятельности команды по архитектуре ПО
    </div>
    <div class="paragraph">
      Для достижения успеха команда по архитектуре должна обладать широкой компетенцией, включая следующее:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Опыт В данной предметной области для создания приемлемых проектных решений (архитектурно значимых элементов
        проектной модели) и вариантов использования (архитектурно значимых элементов модели вариантов использования)
      </li>
      <li class="list-group-item">
        Опыт в области технологии ПО для создания приемлемых процессов (связи параллельных потоков и потоков управления
        с проектными моделями, компонентами и моделями внедрения), компонентов (структуры комплекта реализации) и
        решений по внедрению (структуры комплекта внедрения)
      </li>
    </ul>
    <div class="paragraph">
      Команда по архитектуре отвечает за качество системы в целом, которое включает в себя такие составляющие, как
      надежность, производительность и сопровождаемость. Эти составляющие охватывают множество компонентов и показывают,
      насколько хорошо они интегрированы для получения эффективного решения. В этом отношении команда по архитектуре
      определяет, каким образом должно решаться большинство проблем разработки, касающихся одновременно множества
      компонентов.
    </div>
    <div class="subtitle">
      Команда по разработке ПО
    </div>
    <div class="paragraph">
      Команда по разработке в большей степени, чем другие команды, зависит от специфики приложений. Вообще говоря,
      команда по разработке ПО распадается на несколько меньших команд, каждая из которых занимается отдельными группами
      компонентов, требующих определенного набора навыков. Типичные наборы навыков включают в себя следующее:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Коммерческие компоненты: специалисты с детальным знанием ком-мерческих компонентов, занимающих центральное место
        в архитектуре системы
      </li>
      <li class="list-group-item">
        Базы данных: специалисты с опытом организации, хранения и поиска данных
      </li>
      <li class="list-group-item">
        Графические интерфейсы пользователя: специалисты с опытом ор-ганизации вывода, представления данных и работы
        пользователя, необходимых для поддержки пользовательского интерфейса
      </li>
      <li class="list-group-item">
        Операционные системы и сети: специалисты с опытом реализации множества программных объектов в сети аппаратных
        ресурсов, включая все типичные проблемы контроля, связанные с инициализацией, синхронизацией, разделением
        ресурсов, управлением пространством имен, перенастройкой, окончанием и межобъектными взаимодействиями
      </li>
      <li class="list-group-item">
        Приложения в конкретных областях: специалисты в области создания алгоритмов, работы приложений или
        бизнес-правил,
        присущих данной системе
      </li>
    </ul>
    <div class="paragraph">
      Команда по разработке ПО отвечает за качество отдельных компонентов, включая их разработку, тестирование и
      сопровождение. Тесты для компонентов следует организовывать как самодокументируемое многократно используемое ПО,
      которое будет рассматриваться так же, как исходный код других рабочих компонентов, сопровождаться естественным
      образом и будет доступно для автоматического регрессионного тестирования. В задачу команды по разработке входит
      решение любых локальных для компонентов проблем, касающихся разработки и реализации.
    </div>
    <div class="subtitle">
      Команда по оценке ПО
    </div>
    <div class="paragraph">
      Существуют две причины использования независимой команды для оценки ПО. Первая касается гарантий независимости
      оценки качества. Этот часто обсуждаемый подход имеет свои «за» (например, гарантии того, что предубеждения
      авторов, коими являются разработчики, не исказят качество оценки) и «против» (например, освобождение команды по
      разработке ПО от ответственности за качество — до некоторой степени), Более серьезной причиной применения
      независимой команды тестирования является возможность осуществления различных видов деятельности одновременно. За
      счет выполнения разработки ПО и подготовки к тестированию, осуществляемой параллельно, можно добиться сокращения
      сроков. Управление изменениями, планирование тестов и создание сценария тестирования могут проводиться параллельно
      с проектированием и разработкой.
    </div>
    <div class="paragraph">
      В современном процессе следует применять тестирование, ориентированное на варианты использования или тестирование
      отдельных возможностей (которое может охватывать несколько компонентов), организованное как последовательность
      этапов и автоматизированное посредством двух видов рабочих продуктов:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1. Спецификаций версии (план и критерии оценки версии)
      </li>
      <li class="list-group-item">
        2. Описания версии (результаты версии)
      </li>
    </ul>
    <div class="paragraph">
      Каждая версия может охватывать несколько (возможно, незавершенных) компонентов, поскольку интеграция выполняется в
      течение продолжительного времени. В критериях оценки будет документировано то, что заказчик может ожидать при
      достижении основной контрольной точки, а описания версии смогут подтвердить результаты тестов. Заключительные
      итерации будут в общем эквивалентны приемочному тестированию; они имеют уровни детализации, аналогичные уровням
      детализации тра-диционных отчетов, процедур и планов ПО. Эти материалы из очень кратких, абстрактных версий на
      ранних итерациях превращаются в более подробные и более строгие документы с проработанными деталями и обсуждениями
      подотчетных вопросов в более поздних версиях. Даже для тестирования вариантов использования тестовые компоненты
      должны разрабатываться способом, аналогичным способам разработки вариантов тестирования компонентов. Например,
      вместо того чтобы составлять документы по процедуре тестирования, в рамках проекта следует генерировать
      самодокументируемые сценарии тестирования, которые сами по себе являются программным обеспечением. Такие сценарии
      могут подвергаться внесению изменений точно так же, как другое ПО, и всегда должны содержаться в виде последней
      версии, пригодной для автоматизированного регрессионного тестирования.
    </div>
    <div class="paragraph">
      Некоторые тесты компонентов могут быть возведены в ранг критериев оценки с включением их результатов в
      документацию с описанием версии. Многие компоненты могут проходить лишь неформальное тестирование, которое
      выполняется командой разработчиков и результаты которого будут храниться только внутри тестового ПО, созданного
      разработчиками. В таком случае формальное тестирование для многих компонентов будет отнесено к критериям оценки
      более высокого уровня (обычно это сценарии, ориентированные на определенную возможность или процесс) и к
      соответствующим описаниям версии. Компоненты не одинаковы: некоторые из них заслуживают формального
      покомпонентного тестирования для проверки соответствия требованиям, в то время как другие лучше тестируются в
      контексте какой-либо возможности. Ре-шение этого вопроса следует оставить на усмотрение команды по оценке.
    </div>
    <div class="paragraph">
      Команда по оценке отвечает за качество основных версий с учетом требований и ожиданий заказчика. Таким образом,
      команда по оценке ответственна за решение всех вопросов качества, влияющих на ожидания заказчика, независимо от
      того, отражены или нет эти ожидания в требованиях.
    </div>
    <div class="subtitle">
      Эволюция организаций
    </div>
    <div class="paragraph">
      Проектная организация отражает архитектуру команды и должна изменяться в соответствии с планом
      проекта, содержащимся в декомпозиции работ. На рисунке показано, как центр тяжести команды сдвигается на
      протяжении жизненного цикла, когда около 50% сотрудников оказываются занятыми какой-то одной группой видов
      деятельности на каждой стадии.
    </div>
    <div class="paragraph">
      <img class="img-responsive img-thumbnail" src="images/article-4-evolution.png">
    </div>
    <div class="well-sm">
      Эволюция команды, работающей над проектом по созданию ПО, на протяжении всего жизненного цикла
    </div>
    <div class="paragraph">
      На каждой стадии основное внимание уделяется определенным группам видов деятельности, а именно:
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        Команда начальной стадии: основное внимание уделяется планированию, при этом со стороны других команд
        обеспечивается поддержка, достаточная, чтобы гарантировать консенсус планов со всех точек зрения.
      </li>
      <li class="list-group-item">
        Команда стадии уточнения: основное внимание уделяется архитектуре, основные силы проекта собираются в команде по
        архитектуре, которая поддерживается командами по разработке ПО и по оценке ПО в степени, необходимой для
        получения стабильной базовой архитектуры.
      </li>
      <li class="list-group-item">
        Команда стадии конструирования: сбалансированная команда, в которой большая часть деятельности приходится на
        команды разработки ПО и оценки ПО.
      </li>
      <li class="list-group-item">
        Команда стадии ввода в действие: главное внимание уделяется заказчику, основным видом деятельности является
        внедрение, которым движет обратная связь с пользователями системы.
      </li>
    </ul>
    <div class="paragraph">
      Не менее важна проработка всех деталей для команд, обязанностей и заданий более низкого уровня, однако она может
      осуществляться не ранее стабилизации всех деталей планирования в WBS. Преждевременное определение детальной
      структуры команды более низкого уровня может привести к серьезному снижению эффективности работ.
    </div>
  </div>
</div>
