<div class="row">
  <div class="article">
    <div class="title">
      Состав и применение инструментальных средств разработки программного обеспечения
    </div>
    <div class="subtitle">
      Инструментальные среды разработки и сопровождения программных средств
    </div>
    <div class="paragraph">
      В настоящее время с каждой системой программирования связываются не отдельные инструменты (например, компилятор),
      а некоторая логически связанная совокупность программных и аппаратных инструментов поддерживающих разработку и
      сопровождение ПС на данном языке программирования или ориентированных на какую-либо конкретную предметную область.
      <div class="paragraph callout">
        Такую совокупность будем называть инструментальной средой разработки и сопровождения ПС.
      </div>
      <div class="paragraph">
        Для таких инструментальных сред характерно,

      </div>
      <ul class="list-group">
        <li class="list-group-item">
          Во-первых, использование как программных, так и аппаратных инструментов
        </li>
        <li class="list-group-item">
          Во-вторых, определенная ориентация либо на конкретный язык программирования, либо на конкретную предметную
          область
        </li>
      </ul>
    </div>
    <div class="paragraph">
      Инструментальная среда не обязательно должна функционировать на том компьютере, на котором должно будет
      применяться разрабатываемое с помощью ее ПС. Часто такое совмещение бывает достаточно удобным (если только
      мощность используемого компьютера позволяет это): не нужно иметь дело с компьютерами разных типов, в
      разрабатываемую ПС можно включать компоненты самой инструментальной среды.
    </div>
    <div class="paragraph">
      Однако, если компьютер, на котором должно применяться ПС, недоступен для разработчиков этого ПС (например, он
      постоянно занят другой работой, которую нельзя прерывать, или он находится еще в стадии разработки), либо неудобен
      для разработки ПС, либо мощность этого компьютера недостаточна для обеспечения функционирования требуемой
      инструментальной среды, то применяется так называемый инструментально-объектный подход.
    </div>
    <div class="paragraph callout">
      Сущность его заключается в том, что ПС разрабатывается на одном компьютере, называемым инструментальным, а
      применяться будет на другом компьютере, называемым целевым (или объектным).
    </div>
    <div class="paragraph">
      Различают три основных класса инструментальных сред разработки и сопровождения ПС:
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        Среды программирования
      </li>
      <li class="list-group-item">
        Рабочие места компьютерной технологии
      </li>
      <li class="list-group-item">
        Инструментальные системы технологии программирования
      </li>
    </ul>
    <div class="paragraph">
      Среда программирования предназначена в основном для поддержки процессов программирования (кодирования),
      тестирования
      и отладки ПС.
    </div>
    <div class="paragraph">
      Рабочее место компьютерной технологии ориентировано на поддержку ранних этапов разработки ПС (спецификаций) и
      автоматической генерации программ по спецификациям.
    </div>
    <div class="paragraph">
      Инструментальная система технологии программирования предназначена для поддержки всех процессов разработки и
      сопровождения в течение всего жизненного цикла ПС и ориентирована на коллективную разработку больших программных
      систем с длительным жизненным циклом.
    </div>
    <div class="paragraph callout">
      Для таких систем стоимость сопровождения обычно превышает стоимость разработки.
    </div>
    <div class="paragraph">
      <img class="img-responsive img-thumbnail center-block" src="images/article-8-tools.png">
    </div>
    <div class="well-sm">
      Основные классы инструментальных сред разработки и сопровождения ПС.
    </div>
    <div class="subtitle">
      Инструментальные среды программирования.
    </div>
    <div class="paragraph">
      Инструментальные среды программирования содержат прежде всего текстовый редактор, позволяющий конструировать
      программы на заданном языке программирования, инструменты, позволяющие компилировать или интерпретировать
      программы
      на этом языке, а также тестировать и отлаживать полученные программы.
    </div>
    <div class="paragraph">
      Кроме того, могут быть и другие инструменты, например, для статического или динамического анализа программ.
      Взаимодействуют эти инструменты между собой через обычные файлы с помощью стандартных возможностей файловой
      системы.
    </div>
    <div class="paragraph">
      Различают следующие классы инструментальных сред программирования:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Среды общего назначения
      </li>
      <li class="list-group-item">
        Языково-ориентированные среды
      </li>
    </ul>
    <div class="paragraph">
      Инструментальные среды программирования общего назначения содержат набор программных инструментов, поддерживающих
      разработку программ на разных языках программирования (например, текстовый редактор, редактор связей или
      интерпретатор
      языка целевого компьютера) и обычно представляют собой некоторое расширение возможностей используемой операционной
      системы. Для программирования в такой среде на каком-либо языке программирования потребуются дополнительные
      инструменты, ориентированные на этот язык (например, компилятор).
    </div>
    <div class="paragraph">
      <img class="img-responsive img-thumbnail center-block" src="images/article-8-class.png">
    </div>
    <div class="well-sm">
      Классификация инструментальных сред программирования.
    </div>
    <div class="paragraph">
      Языково-ориентированная инструментальная среда программирования предназначена для поддержки разработки ПС на
      каком-либо одном языке программирования и знания об этом языке существенно использовались при построении такой
      среды.
      Вследствие этого в такой среде могут быть доступны достаточно мощные возможности, учитывающие специфику данного
      языка.
    </div>
    <div class="paragraph">
      Такие среды разделяются на два подкласса:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Интерпретирующие среды
      </li>
      <li class="list-group-item">
        Синтаксически-управляемые среды
      </li>
    </ul>
    <div class="paragraph">
      Интерпретирующая инструментальная среда программирования обеспечивает интерпретацию программ на данном языке
      программирования, т.е. содержит прежде всего интерпретатор языка программирования, на который эта среда
      ориентирована.
      Такая среда необходима для языков программирования интерпретирующего типа, но может использоваться и для других
      языков
      (например, на инструментальном компьютере).
    </div>
    <div class="paragraph">
      Синтаксически-управляемая инструментальная среда программирования базируется на знании синтаксиса языка
      программирования, на который она ориентирована. В такой среде вместо текстового используется
      синтаксически-управляемый
      редактор, позволяющий пользователю использовать различные шаблоны синтаксических конструкций (в результате этого
      разрабатываемая программа всегда будет синтаксически правильной). Одновременно с программой такой редактор
      формирует
      (в памяти компьютера) ее синтаксическое дерево, которое может использоваться другими инструментами.
    </div>
    <div class="subtitle">
      Понятие компьютерной технологии разработки программных средств и ее рабочие места.
    </div>
    <div class="paragraph callout">
      Имеются некоторые трудности в выработке строгого определения CASE-технологии (компьютерной технологии разработки
      ПС).
    </div>
    <div class="paragraph">
      CASE - это абревиатура от английского Computer-Aided Software Engineering (Компьютерно-Помогаемая Инженерия
      Программирования). Но без помощи (поддержки) компьютера ПС уже давно не разрабатываются (используется хотя бы
      компилятор). В действительности, в это понятие вкладывается более узкий (специальный) смысл, который постепенно
      размывается (как это всегда бывает, когда какое-либо понятие не имеет строгого определения).
    </div>
    <div class="paragraph">
      Первоначально под CASE понималась инженерия ранних этапов разработки ПС (определение требований, разработка
      внешнего
      описания и архитектуры ПС) с использованием программной поддержки (программных инструментов).
    </div>
    <div class="paragraph">
      Теперь под CASE может пониматься и инженерия всего жизненного цикла ПС (включая и его сопровождение), но только в
      том
      случае, когда программы частично или полностью генерируются по документам, полученным на указанных ранних этапах
      разработки. В этом случае CASE-технология стала принципиально отличаться от ручной (традиционной) технологии
      разработки ПС: изменилось не только содержание технологических процессов, но и сама их совокупность.
    </div>
    <div class="paragraph">
      В настоящее время компьютерную технологию разработки ПС можно характеризовать
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Использованием программной поддержки для разработки графических требований и графических спецификаций ПС
      </li>
      <li class="list-group-item">
        Автоматической генерации программ на каком-либо языке программирования или в машинном коде (частично или
        полностью)
      </li>
      <li class="list-group-item">
        Программной поддержки прототипирования
      </li>
    </ul>
    <div class="paragraph">
      Говорят также, что компьютерная технология разработки ПС является "безбумажной", т.е. рассчитанной на компьютерное
      представление программных документов.
    </div>
    <div class="paragraph">
      Однако, уверенно отличить ручную технологию разработки ПС от компьютерной по этим признакам довольно трудно.
      Значит,
      самое существенное в компьютерной технологии не выделено.
    </div>
    <div class="paragraph">
      На наш взляд, главное отличие ручной технологии разработки ПС от компьютерной заключается в следующем. Ручная
      технология ориентирована на разработку документов, одинаково понимаемых разными разработчиками ПС, тогда как
      компьютерная технология ориентирована на обеспечение семантического понимания (интерпретации) документов
      программной
      поддержкой компьютерной технологии.
    </div>
    <div class="paragraph">
      Компьютерное представление документов еще не означает такого их понимание. Тогда как семантическое понимание
      документов дает программной поддержке возможность автоматической генерации программ, а необходимость обеспечения
      такого понимания делает желательными и различные графические формы входных документов. Именно это позволяет
      рационально изменить и саму совокупность технологических процессов разработки и сопровождения ПС.
    </div>
    <div class="paragraph callout">
      Из проведенного обсуждения сущности компьютерной технологии можно понять и связанные с ней изменения в жизненном
      цикле
      ПС.
    </div>
    <div class="paragraph">
      Если при использовании ручной технологии основные усилия по разработке ПС делались на этапах собственно
      программирования (кодирования) и отладки (тестирования), то при использовании компьютерной технологии - на ранних
      этапах разработки ПС (определения требований и функциональной спецификации).
    </div>
    <div class="paragraph">
      При этом существенно изменился характер документации: вместо целой цепочки неформальных документов,
      ориентированной
      на
      передачу информации от заказчика (пользователя) к различным категориям разработчикам, формируются прототип ПС,
      поддерживающий выбранный пользовательский интерфейс, и формальные функциональные спецификации, достаточные для
      автоматического синтеза (генерации) программ ПС (или хотя бы значительной их части).
    </div>
    <div class="paragraph">
      При этом появилась возможность автоматической генерации части документации, необходимой разработчикам и
      пользователям.
      Вместо ручного программирования (кодирования) - автоматическая генерация программ, что делает не нужной автономную
      отладку и тестирование программ: вместо нее добавляется достаточно глубокий автоматический семантический контроль
      документации.
    </div>
    <div class="paragraph">
      Существенно изменяется и характер сопровождения ПС: все изменения разработчиком-сопроводителем вносятся только в
      спецификации (включая и прототип), остальные изменения в ПС осуществляются автоматически.
    </div>
    <div class="paragraph callout">
      С учетом сказанного жизненный цикл ПС с использованием компьютерной технологии можно представить следующей схемой.
    </div>

    <div>
      <img class="img-responsive img-thumbnail center-block" src="images/article-8-lifecycle.png">
    </div>

    <div class="well-sm">
      Жизненный цикл программного средства при использовании компьютерной технологии.
    </div>
    <div class="paragraph">
      Прототипирование позволяет заменить косвенное описание взаимодействия между пользователем и ПС при ручной
      технологии
      (при определении требований к ПС и внешнем описании ПС) прямым выбором пользователем способа и стиля этого
      взаимодействия с фиксацией всех необходимых деталей.
    </div>
    <div class="paragraph">
      По-существу, на этом этапе производится точное описание пользовательского интерфейса, понятное программной
      поддержке
      компьютерной технологии, причем с ответственным участием пользователя: разработчик показывает пользователю на
      мониторе
      различные возможности и пользователь выбирает приемлемые для него варианты, пользователь с помощью разработчика
      вводит
      обозначения обрабатываемых им информационных объектов и операций над ними, он выбирает способ доступа к ним и
      связывает их с различными окнами, меню, виртуальными клавиатурами и т.п.
    </div>
    <div class="paragraph">
      Все это базируется на наличие в программной поддержке компьютерной технологии настраиваемой оболочки с обширной
      библиотекой заготовок различных фрагментов и деталей экрана. В результате указанных действий определяется оболочка
      ПС
      - верхний управляющий уровень ПС. Такое прототипирование, по-видимому, является лучшим способом преодоления
      барьера
      между пользователем и разработчиком.
    </div>
    <div class="paragraph callout">
      Разработка спецификаций распадается на несколько разных процессов.
    </div>
    <div class="paragraph">
      Если исключить начальный этап разработки спецификаций (определение требований), то в этих процессах используются
      методы, приводящие к созданию формализованных документов, т. е. используются формализованные языки спецификаций.
      При
      этом широко используются графические методы спецификаций, приводящие к созданию различных схем и диаграмм, которые
      достаточно формализованно определяют структуру информационной среды и структуру управления ПС. К таким структурам
      привязываются фрагменты описания данных и программ, представленные на алгебраических языках спецификаций
      (например,
      использующие операционную или аксиоматическую семантику), или логических языках спецификаций (базирующихся на
      логическом подходе к спецификации программ). Такие спецификации позволяют в значительной степени или полностью
      автоматически генерировать программы.
    </div>
    <div class="subtitle">
      Инструментальные системы технологии программирования.
    </div>
    <div class="paragraph callout">
      Для компьютерной поддержки разработки и сопровождения больших ПС с продолжительным жизненным циклом используются
      инструментальные системы технологии программирования.
    </div>
    <div class="paragraph">
      Инструментальная система технологии программирования - это интегрированная совокупность программных и аппаратных
      инструментов, поддерживающая все процессы разработки и сопровождения больших ПС в течение всего его жизненного
      цикла
      в
      рамках определенной технологии.
    </div>
    <div class="paragraph">
      Из этого определения вытекают следующие основные черты этого класса компьютерной поддержки:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Комплексность
      </li>
      <li class="list-group-item">
        Ориентированность на коллективную разработку
      </li>
      <li class="list-group-item">
        Технологическая определенность
      </li>
      <li class="list-group-item">
        Интегрированность
      </li>
    </ul>
    <div class="paragraph">
      Комплексность компьютерной поддержки означает, что она охватывает все процессы разработки и сопровождения ПС и что
      продукция этих процессов согласована и взаимоувязана. Тем самым, система в состоянии обеспечить, по-крайней мере,
      контроль полноты (комплектности) создаваемой документации (включая набор программ) и согласованности ее изменения
      (версионности). Тот факт, что компьютерная поддержка охватывает и фазу сопровождения ПС, означает, что система
      должна
      поддерживать работу сразу с несколькими вариантами ПС, ориентированными на разные условия применения ПС и на
      разную
      связанную с ним аппаратуру, т.е. должна обеспечивать управление конфигурацией ПС.
    </div>
    <div class="paragraph">
      Ориентированность на коллективную разработку означает, что система должна поддерживать управление (management)
      работой
      коллектива и для разных членов этого коллектива обеспечивать разные права доступа к различным фрагментам продукции
      технологических процессов.
    </div>
    <div class="paragraph">
      Технологическая определенность компьютерной поддержки означает, что ее комплексность ограничивается рамками
      какой-либо
      конкретной технологии программирования. Инструментальные системы технологии программирования представляют собой
      достаточно большие и дорогие ПС, чтобы как-то была оправданна их инструментальная перегруженность. Поэтому набор
      включаемых в них инструментов тщательно отбирается с учетом потребностей предметной области, используемых языков и
      выбранной технологией программирования.
    </div>
    <div class="paragraph">
      Интегрированность компьютерной поддержки означает:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Интегрированность по данным
      </li>
      <li class="list-group-item">
        Интегрированность по пользовательскому интерфейсу
      </li>
      <li class="list-group-item">
        Интегрированность по действиям (функциям)
      </li>
    </ul>
    <div class="paragraph">
      Интегрированность по данным означает, что инструменты действуют в соответствии с фиксированной информационной
      схемой
      (моделью) системы, определяющей зависимость различных используемых в системе фрагментов данных (информационных
      объектов) друг от друга.
    </div>
    <div class="paragraph">
      Интегрированность по пользовательскому интерфейсу означает, что все инструменты объединены единым пользовательским
      интерфейсом.
    </div>
    <div class="paragraph">
      Интегрированность по действиям означает, что, во-первых, в системе имеются общие части всех инструментов и,
      во-вторых,
      одни инструменты при выполнении своих функций могут обращаться к другим инструментам.
    </div>
    <div class="paragraph ">
      С учетом обсужденных свойств инструментальных систем технологии программирования можно выделить три их основные
      компоненты:
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        База данных разработки (репозиторий)
      </li>
      <li class="list-group-item">
        Инструментарий
      </li>
      <li class="list-group-item">
        Интерфейсы
      </li>
    </ul>
    <div class="paragraph callout">
      Репозиторий - центральное компьютерное хранилище информации, связанной с проектом (разработкой) ПС в течении всего
      его
      жизненного цикла.
    </div>
    <div class="paragraph">
      Инструментарий - набор инструментов, определяющий возможности, предоставляемые системой коллективу разработчиков.
      Обычно этот набор является открытым: помимо минимального набора (встроенные инструменты), он содержит средства
      своего
      расширения (импортированными инструментами), - и структурированным, состоящим из некоторой общей части всех
      инструментов (ядра) и структурных (иногда иерархически связанных) классов инструментов.
    </div>
    <div class="paragraph">
      Интерфейсы разделяются на
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1) Пользовательский
      </li>
      <li class="list-group-item">
        2) Системные
      </li>
    </ul>
    <div class="paragraph">
      Пользовательский интерфейс обеспечивает доступ разработчикам к инструментарию (командный язык и т.п.), реализуется
      оболочкой системы.
    </div>
    <div class="paragraph">
      Системные интерфейсы обеспечивают взаимодействие между инструментами и их общими частями. Системные интерфейсы
      выделяются как архитектурные компоненты в связи с открытостью системы - их обязаны использовать новые
      (импортируемые)
      инструменты, включаемые в систему.
    </div>

    <div class="paragraph">
      Различают два класса инструментальных систем технологии программирования:

    </div>
    <ul class="list-group">
      <li class="list-group-item">
        1) Инструментальные системы поддержки проекта
      </li>
      <li class="list-group-item">
        2) Языково-зависимые инструментальные системы
      </li>
    </ul>

    <div class="paragraph">
      Инструментальная система поддержки проекта - это открытая система, способная поддерживать разработку ПС на разных
      языках программирования после соответствующего ее расширения программными инструментами, ориентированными на
      выбранный
      язык. Такая система содержит ядро (обеспечивающее, в частности, доступ к репозиторию), набор инструментов,
      поддерживающих управление (management) разработкой ПС, независимые от языка программирования инструменты,
      поддерживающие разработку ПС (текстовые и графические редакторы, генераторы отчетов и т.п.), а также инструменты
      расширения системы.
    </div>
    <div class="paragraph">
      Языково-зависимая инструментальная система - это система поддержки разработки ПС на каком-либо одном языке
      программирования, существенно использующая в организации своей работы специфику этого языка. Эта специфика может
      сказываться и на возможностях ядра (в том числе и на структуре репозитория), и на требованиях к оболочке и
      инструментам.
    </div>
    <div class="paragraph callout">
      Примером такой системы является среда поддержки программирования на Аде (APSE ).
    </div>
    <div class="paragraph">
      <img class="img-responsive img-thumbnail center-block" src="images/article-8-architecture.png">
    </div>
    <div class="well-sm center-block">
      Общая архитектура инструментальных систем технологии программирования.
    </div>
  </div>
</div>
