<div class="row">
  <div class="articles-list">
    <div class="articles-item" ng-repeat="article in articles">
      <a ng-href="#!/{{article.path}}">
        <div class="articles-item-cover">
          <!--<img src="../images/yeoman.png">-->
        </div>
        <div class="articles-item-description">
          <div class="articles-item-title">
            {{article.title}}
          </div>
          <div class="articles-item-thumbnail line-clamp item-secondary">
            {{article.thumbnail}}
          </div>
          <div class="articles-item-duration item-secondary">
            <i class="glyphicon glyphicon-time"></i> {{article.duration}}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
