<div class="row">
  <div class="article">
    <div class="title">
      Принципы и методы коллективной разработки программных продуктов
    </div>
    <div class="paragraph">
      За последние два десятилетия в процессе создания ПО произошли значительные изменения. Многие из традиционных
      управленческих и технических приемов были заменены новыми подходами, которые сочетают в себе опыт успешных
      проектов
      и преимущества технологии разработки ПО. Этот переход мотивировался неутолимой жаждой создания ПО с меньшими
      затратами, большим числом возможностей и за более короткое время в условиях жесткой конкуренции. Наличие в
      индустрии
      коммерческого ПО сочетания конкурентного давления, прибыльности, разнородности заказчиков и быстро изменяющейся
      технологии привело к использованию многими организациями новых подходов к управлению. В оборонной и
      аэрокосмической
      промышленности для многих систем требуется новая парадигма управления, отвечающая бюджетным ограничениям, среде с
      постоянно меняющимися и разнообразными угрозами, длительным срокам эксплуатации систем и превалированию
      широкомасштабных, сложных приложений.
    </div>
    <div class="subtitle">
      Принципы традиционной программной инженерии
    </div>
    <div class="paragraph">
      Существует множество описаний «старого пути» в программной инженерии. За годы практической разработки индустрия ПО
      извлекла большое число уроков и сформулировала множество принципов. В данном разделе описывается один из взглядов
      на сегодняшние принципы программной инженерии как отправная точка для представления основных тем, 
      обсуждаемых в остальной части книги. Выбранная мною точка отсчета — это короткая статья «Fifteen principles of
      software engineering» («Пятнадцать принципов программной инженерии») [Davis, 1994]. Она постепенно переросла в
      книгу [Davis, 1995], которая содержит в себе 201 принцип. Несмотря на свое название, данная статья описывает
      тридцать самых важных принципов, и она не хуже всех прочих изложений мудрости традиционного процесса в индустрии
      ПО. Я готов подписаться под большей частью этих принципов, но я убежден, что некоторые из них устарели. 30
      принципов Дэвиса, приводимые ниже, выделяются курсивом. Для каждого принципа дается комментарий по поводу того,
      будет ли этот принцип поддерживаться или изменяться в данной книге. Я сделаю несколько допущений, которые будут
      оставлены без доказательств до следующих глав.
    </div>
    <div class="subtitle">
      #1 Достигайте наивысшего качества
    </div>
    <div class="paragraph callout">
      Качество должно иметь количественное выражение, и необходимо задействовать механизмы, стимулирующие его
      достижение.
    </div>
    <div class="paragraph">
      Непосредственное описание качества, соответствующего данному проекту, является важным, но это не просто сделать в
      самом начале проекта. Именно поэтому современный подход к процессу борется за то, чтобы определить компромиссы
      между
      возможностями, качеством, стоимостью и сроками на более ранних этапах жизненного цикла. Пока такое понимание
      отсутствует, определить качество или управлять достижением качества невозможно.
    </div>
    <div class="subtitle">
      #2 Создание высококачественного ПО возможно
    </div>
    <div class="paragraph callout">
      Методы, повышающие качество, включают в себя привлечение заказчика, создание прототипов, упрощение разработки,
      проведение проверок и найм лучших сотрудников.
    </div>
    <div class="paragraph">
      Этот принцип — самый ненужный.
    </div>
    <div class="subtitle">
      #3 Передавайте продукты заказчику как можно раньше
    </div>
    <div class="paragraph callout">
      Независимо от того, сколь много усилий вы прикладываете для изучения нужд заказчика на этапе описания требований,
      наиболее эффективный способ определить настоящие нужды - это отдать продукт пользователям, чтобы они его пощупали.
    </div>
    <div class="paragraph">
      Это ключевой принцип схемы современного процесса, причем в течение жизненного цикла должно существовать несколько
      различных механизмов привлечения заказчика. В зависимости от области такие механизмы могут включать в себя
      демонстрационные прототипы, основанные на демонстрациях контрольные точки и альфа/бета-версии.
    </div>
    <div class="subtitle">
      #4 Определите проблему до того, как записывать требования
    </div>
    <div class="paragraph callout">
      Встречаясь с тем, что кажется проблемой, многие разработчики тут же бросаются предлагать решение. Прежде чем
      пытаться решить проблему, убедитесь, что изучены все альтернативные возможности. Очевидное решение не должно
      ослепить вас.
    </div>
    <div class="paragraph">
      Этот принцип является прямым указанием на проблемы, присущие традиционному процессу определения требований.
      Параметры проблемы становятся более понятными по мере нахождения решения. Современный подход к процессу
      рассматривает проблему совместно с ее решением до тех пор, пока не удастся понять проблему достаточно хорошо для
      того, чтобы полностью переключиться на производство.
    </div>
    <div class="subtitle">
      #5 Оценивайте альтернативы при разработке
    </div>
    <div class="paragraph callout">
      После согласования требований необходимо исследовать различные архитектуры и алгоритмы. Вряд ли вы захотите
      работать
      с «архитектурой» только потому, что она была использована при определении требований.
    </div>
    <div class="paragraph">
      Этот принцип, вероятно, укоренился в «водопадном» сознании в двух видах. (1) Требования предшествуют архитектуре,
      вместо того чтобы рассматриваться совместно. (2) Архитектура заложена в спецификациях самих требований. В то время
      как современный процесс в явном виде способствует проведению анализа альтернатив при разработке, это делается
      параллельно с определением требований, а различные нотации и рабочие продукты, касающиеся требований и
      архитектуры,
      явным образом не связаны между собой.
    </div>
    <div class="subtitle">
      #6 Используйте подходящую модель процесса
    </div>
    <div class="paragraph callout">
      Для каждого проекта необходимо выбирать такой процесс, который окажется наиболее осмысленным для данного проекта с
      учетом корпоративной культуры, желания рисковать, области применения, легкости изменения требований и того,
      насколько правильно поняты требования.
    </div>
    <div class="paragraph">
      Действительно, ни один отдельно взятый процесс не является универсальным. Термин «схема процесса» я использую для
      обозначения изменчивого класса процессов, а не какого-то одного окаменевшего примера. В главе 14 обсуждаются
      настройка и адаптация процесса под конкретные нужды проекта.
    </div>
    <div class="subtitle">
      #7 Используйте различные языки на разных стадиях
    </div>
    <div class="paragraph callout">
      Присущая нашей индустрии вечная жажда простых решений сложных проблем подвигла многих на то, чтобы заявить, что
      лучший метод разработки использует одну и ту же нотацию на протяжении всего жизненного цикла. Стоит ли
      разработчикам
      ПО применять язык Ada для описания требований, разработки и кодирования, если этот язык не является оптимальным
      для
      данных этапов ?
    </div>
    <div class="paragraph">
      Это важный принцип. В главе б описываются подходящая организация и рекомендуемые языки/нотации для основных
      продуктов процесса.
    </div>
    <div class="subtitle">
      #8 Минимизируйте семантический разрыв
    </div>
    <div class="paragraph callout">
      Для того чтобы минимизировать семантический разрыв, структура ПО должна быть настолько близка к структуре
      предметной
      области, насколько это возможно.
    </div>
    <div class="paragraph">
      Этот принцип являлся основной движущей силой разработки объектно-ориентированных методов,
      компонентно-ориентированной разработки и визуального моделирования.
    </div>
    <div class="subtitle">
      #9 Ставьте методы выше инструментов
    </div>
    <div class="paragraph callout">
      Недисциплинированный разработчик ПО, вооруженный инструментом, становится опасным недисциплинированным
      разработчиком
      ПО.
    </div>
    <div class="paragraph">
      Этот принцип верен, но здесь пропущено два важных момента. (1) Дисциплинированный разработчик ПО, вооруженный
      хорошим инструментарием, обойдет дисциплинированных экспертов ПО, лишенных каких-либо инструментов. (2) Один из
      лучших способов продвигать, стандартизировать и распространять хорошие методы — это использовать автоматизацию.
    </div>
    <div class="subtitle">
      #10 Сначала напишите правильную программу, а затем увеличивайте ее быстродействие
    </div>
    <div class="paragraph callout">
      Намного легче увеличить быстродействие правильной программы, чем заставить правильно работать быструю программу.
      Не
      отвлекайтесь на оптимизацию при первоначальном кодировании.
    </div>
    <div class="paragraph">
      Это глубокое утверждение. Некоторые эксперты ПО делают неправильные утверждения следующего характера: «Проблемы
      работы системы ПО на ранних стадиях — это верный признак рисков в дальнейшем». Каждый успешный нетривиальный
      проект
      по созданию ПО из тех, с которыми я знаком, сталкивался с проблемами на ранних стадиях жизненного цикла. Я буду
      спорить с утверждением о том, что почти каждая незрелая архитектура (особенно в случае широкомасштабного проекта)
      имеет проблемы с работоспособностью при первых выполняемых итерациях. Обладание чем-то выполняемым (работающим) на
      ранних стадиях является предпосылкой для достижения баланса в отношении производительности. Понять все это
      посредством анализа оказывается слишком сложно.
    </div>
    <div class="subtitle">
      #11 Проверяйте код
    </div>
    <div class="paragraph callout">
      Оценка детальной разработки и кода более хороший способ обнаружения ошибок, чем тестирование.
    </div>
    <div class="paragraph">
      Значение этого принципа переоценивается для всех, кроме самых простейших, систем ПО. Сегодняшние возможности
      аппаратуры, языки программирования, автоматизированные среды позволяют эффективно выполнять автоматизированный
      анализ и тестирование на протяжении всего жизненного цикла. Постоянное и автоматизированное тестирование в течение
      жизненного цикла — это необходимость для любой современной итерационной разработки. Вообще говоря, беспорядочные
      проверки (в противоположность проверкам, которые сосредоточиваются на известных проблемах) редко позволяют вскрыть
      недоработки в архитектуре или глобальные недостатки при разработке. Неверно было бы утверждать, что неэффективными
      являются все проверки. Когда они используются разумно и направлены на определенную проблему, то оказываются
      чрезвычайно эффективными для ее решения. Однако этот принцип не должен входить в число первых 15, особенно если
      учесть, что в индустрии ПО перепроверка является обычной практикой.
    </div>
    <div class="subtitle">
      #12 Хорошее управление более важно, чем хорошая технология
    </div>
    <div class="paragraph callout">
      Лучшая технология не сможет компенсировать слабое управление, а хорошее управление позволяет получить великолепные
      результаты даже при наличии недостаточных ресурсов. Хорошее управление заставляет полностью выкладываться, хотя и
      не
      существует универсальных «правильных» стилей руководства.
    </div>
    <div class="paragraph">
      Моя вера в этот принцип и подвигла меня написать эту книгу. Единственным аргументом, по которому можно спорить,
      является то, что термин «недостаточные ресурсы» двусмыслен. Отличная хорошо управляемая команда может добиваться
      великолепных результатов при недостаточных финансах и сроках. С другой стороны, хорошее управление и не очень
      качественная команда являются взаимоисключающими, поскольку хороший менеджер привлечет, настроит и наймет
      качественную команду.
    </div>
    <div class="subtitle">
      #13 Люди — вот ключ к успеху
    </div>
    <div class="paragraph callout">
      Наиважнейшим моментом являются умелые люди, которые обладают необходимыми опытом, талантом и подготовкой.
      Правильно
      подобранные работники с неподходящими инструментами, языками и процессом добьются успеха. Неправильно подобран--
      ные люди с подходящими инструментами, языками и процессом скорее всего потерпят неудачу.
    </div>
    <div class="paragraph">
      Этот принцип расположен в списке слишком далеко от его начала.
    </div>
    <div class="subtitle">
      #14 Подражайте с осторожностью
    </div>
    <div class="paragraph callout">
      Из того только, что все делают нечто, не следует, что это нечто окажется правильным и для вас. Оно может и быть
      правильным, но следует тщательно оценить его применимость в вашей среде. Объектно-ориентированная технология,
      метрики, повторное использование, усовершенствование процесса, CASE, создание прототипов - все это может привести
      к
      улучшению качества, снижению цены и удовлетворению потребностей пользователя в большей степени. Потенциал таких
      приемов зачастую переоценивается, а преимущества никоим образом не являются гарантированными или универсальными.
    </div>
    <div class="paragraph">
      Это мудрый совет, особенно для быстрорастущей индустрии, в которой технологические изыски трудно отличить от
      усовершенствований технологии. Возможность компромиссов, стоимость и сроки не всегда сопутствуют современным
      технологиям.
    </div>
    <div class="subtitle">
      #15 Принимайте на себя ответственность
    </div>
    <div class="paragraph callout">
      Когда рушится мост, мы спрашиваем: «Что инженеры сделали неправильно» Если же выходит из строя ПО, мы редко
      задаемся подобным вопросом. Факты, однако, таковы, что в любой прикладной дисциплине самые лучшие методы могут
      быть
      использованы для создания ужасных решений, а самые устаревшие методы - для получения элегантных результатов.
    </div>
    <div class="paragraph">
      Это замечательное следствие пункта 14. Для достижения успеха необходимо нечто большее, чем просто набор хороших
      методов, инструментария и компонентов. Для этого требуются также хорошие работники, хорошее управление и культура
      обучения, которая устремлена к дальнейшему прогрессу даже при неизбежных столкновениях с бесконечными
      промежуточными
      трудностями.
    </div>
    <div class="subtitle">
      #16 Выясните приоритеты заказчика
    </div>
    <div class="paragraph callout">
      Возможно, заказчика устроит задержка с реализацией 90% функциональных возможностей, если 10% из них он получит
      вовремя.
    </div>
    <div class="paragraph">
      Понимание приоритетов заказчика важно, но только в сочетании с другими промежуточными приоритетами. «Покупатель
      всегда прав» — это утверждение, вероятно, привело к бессмысленным тратам денег в большей степени, чем любое другое
      ошибочное представление. Особенно часто заказчик оказывается неправым при заключении правительственных контрактов,
      хотя это справедливо и в общем случае (при заключении контракта между заказчиком и системным интегратором).
    </div>
    <div class="subtitle">
      #17 Чем больше они получают, тем большего хотят
    </div>
    <div class="paragraph callout">
      Чем больше функциональных возможностей (чем выше быстродействие) вы предоставляете пользователю, тем больше
      функциональных возможностей (более высокое быстродействие) ему требуется.
    </div>
    <div class="paragraph">
      Это верно, но предполагает, что вы никогда ничего не захотите показывать пользователю. Следовало бы сказать так:
      «Чем больше пользователи видят, тем больше они начинают понимать». Не все заказчики на 100% руководствуются
      жадностью. Они знают, что ресурсы их некоторым образом лимитированы, а у разработчиков существуют свои
      ограничения.
      Демонстрация промежуточных результатов — это наглядная деятельность, которая необходима для приведения в
      соответствие ожиданий заказчика. Если распространять данный принцип на современный процесс, это будет означать,
      что
      менеджер проекта по созданию ПО должен обладать объективной информацией, которой он сможет оперировать, оспаривая
      неизбежные просьбы о внесении изменений и поддерживая баланс между допустимостью, функциональными возможностями и
      риском.
    </div>
    <div class="subtitle">
      #18 Сразу запланируйте переделку
    </div>
    <div class="paragraph callout">
      Одним из наиболее важных и критичных факторов успеха является то, насколько продукт в целом оказывается нов.
      Абсолютно новые приложения, архитектура, интерфейсы или алгоритмы редко работают с первого раза.
    </div>
    <div class="paragraph">
      Не следует планировать переделку одной из версий. Вместо этого планируйте преобразование продукта из
      несовершенного
      прототипа в хорошо продуманное изделие. Если вам придется выбросить его, что ж, выбрасывайте, однако не надо
      планировать это с самого начала. Возможно, в прошлом это было мудрым советом для проектов, на 100% состоящих из
      ПО,
      разрабатываемого на заказ. Однако в современных программных системах используются многие из уже существующих
      компонентов (по крайней мере, операционная система, СУБД, GUI, сеть и промежуточное ПО), и часть из того, что
      создается при первом проходе, может быть сохранена.
    </div>
    <div class="subtitle">
      #19 Разрабатывайте так, чтобы можно было вносить изменения
    </div>
    <div class="paragraph callout">
      Архитектура, компоненты и методы задания спецификаций, которыми вы пользуетесь, должны позволять внесение
      изменений.
    </div>
    <div class="paragraph">
      Это простое утверждение чрезвычайно сложно выполнить на практике. Основной его смысл в том, что мы должны уметь
      предсказывать будущее и строить схему таким образом, чтобы в нее можно было вносить изменения, которые еще четко
      не
      определены. Тем не менее я поддерживаю этот принцип всем сердцем, поскольку он действительно критичен для
      достижения
      успеха. Трудно предсказать будущее точно, но попытки предположить, какие именно изменения вероятнее всего придется
      вносить в течение жизненного цикла, являются хорошим упражнением по управлению рисками и темой, постоянно
      повторяющейся в успешных проектах по созданию ПО.
    </div>
    <div class="subtitle">
      #20 Разработка без документации разработкой не является
    </div>
    <div class="paragraph callout">
      Часто приходится слышать от разработчиков ПО: «Все, я закончил разработку. Теперь осталось только подготовить
      документацию».
    </div>
    <div class="paragraph">
      Этот принцип тоже присущ подходам прошлого, когда документация была ведущей, причем документация и собственно ПО
      существовали раздельно. Использование визуального моделирования и языков программирования более высокого порядка
      обычно приводит к тому, что оказывается непроизводительным иметь отдельные документы с целью описания разработки
      ПО.
      Документация самого верхнего уровня архитектуры может быть чрезвычайно полезной, если она написана живым языком и
      кратко, но основными материалами, используемыми командой разработчиков, являются описание проекта, исходный код и
      основные тесты. Для более полного использования современных технологических преимуществ я бы модифицировал этот
      принцип следующим образом: «Большинство рабочих продуктов в проекте должны быть самодокументируемыми». (См. главу
      б).
    </div>
    <div class="subtitle">
      #21 Используйте инструментарий, но оставайтесь реалистами
    </div>
    <div class="paragraph callout">
      Инструментарий для разработки ПО позволяет тому, кто его применяет, работать более эффективно.
    </div>
    <div class="paragraph">
      Этот принцип упрощает критичный аспект современной разработки ПО: важность среды разработки. Совершенный процесс
      должен быть хорошо организован,автоматизирован и обеспечен инструментами. Проекты с итерационной разработкой
      требуют
      широкой автоматизации. Недальновидно экономить на создании хорошей среды разработки.
    </div>
    <div class="subtitle">
      #22 Избегайте рисков
    </div>
    <div class="paragraph callout">
      Многие программисты любят создавать программы с различными трюками - конструкциями, которые работают правильно, но
      непонятно как. Покажите всему миру, насколько вы ловки, избежав трюков в своей программе.
    </div>
    <div class="paragraph">
      Мне кажется, трудно поверить в то, что это является одним из главных принципов. Сложно провести границу между
      «трюком» и новаторским решением. Я знаю, к чему стремится Дэвис, но мне бы не хотелось вводить в действие принцип,
      который в качестве побочного эффекта зажимал бы новаторство. Запутанных способов кодирования следует избегать до
      тех
      пор, пока не появятся непреодолимые причины их использования. К несчастью, такие причины весьма обычны для
      нетривиальных проектов.
    </div>
    <div class="subtitle">
      #23 Пользуйтесь инкапсуляцией
    </div>
    <div class="paragraph callout">
      Сокрытие информации является простым, проверенным средством, позволяющим получить ПО, которое проще тестировать и
      сопровождать.
    </div>
    <div class="paragraph">
      Разработка на основе компонентов, объектно-ориентированная и современная разработка, а также системы
      программирования усовершенствовали этот принцип, сделав его основным в практике. Инкапсуляция является
      фундаментальным средством разработчика ПО так же, как математика является фундаментальным средством для физика. Ее
      следовало бы ввести в качестве предмета отдельного курса на целый семестр в университетах, в которых ведется
      обучение программной инженерии.
    </div>
    <div class="subtitle">
      #24 Используйте связность (coupling) и сцепление (cohesion)
    </div>
    <div class="paragraph callout">
      Связность и сцепление - лучшие средства измерения присущих ПО сопровождаемости и адаптируемости.
    </div>
    <div class="paragraph">
      Этот жизненно важный принцип трудно применим на практике. Связность и сцепление — абстрактные характеристики
      компонентов, для которых, насколько мне известно, не существует устоявшихся объективных определений. Современные
      способы определения, относящиеся к сопровождаемости и адаптируемости, построены на измерении количества дефектов и
      доработок. Компоненты, обладающие внутренним сцеплением и минимальной связностью, легче адаптировать с меньшим
      количеством дефектов и доработок. Мы можем судить о болезни (слишком большая связность и малое сцепление), только
      наблюдая и измеряя ее симптомы (дефекты и доработки).
    </div>
    <div class="subtitle">
      #25 Используйте меру сложности Маккейба (McCabe)
    </div>
    <div class="paragraph callout">
      Существует много известных способов для определения сложности, присущей ПО, но ни один из них не является
      настолько
      интуитивно понятным и легким в применении, как способ Тома Маккейба.
    </div>
    <div class="paragraph">
      Способы измерения сложности важны для определения некоторых критичных компонентов, которым требуется повышенное
      внимание. Однако в моей практике сложность на самом деле была очевидна; редко приходится сталкиваться с тем, чтобы
      измерения сложности использовались в практических приложениях для управления проектом или принятия решений. Такие
      измерения могут быть интересны с академической точки зрения (изучение метапроектов и стратегическое принятие
      решений), а также могут оказаться полезными при управлении проектом (если оно автоматизировано), но вряд ли они
      относятся к наиважнейшим принципам.
    </div>
    <div class="subtitle">
      #26 Не тестируйте свое собственное ПО
    </div>
    <div class="paragraph callout">
      Разработчики никогда не должны становиться главными тестирующими своего ПО.
    </div>
    <div class="paragraph">
      С этим принципом часто спорят. С одной стороны, независимая тестирующая команда предлагает независимую точку
      зрения.
      С другой стороны, разработчикам ПО необходимо принимать на себя ответственность за качество своей продукции. В
      главе
      11 я ратую за обе точки зрения: разработчикам следует тестировать свое собственное ПО, это должна делать и
      независимая команда.
    </div>
    <div class="subtitle">
      #27 Анализируйте возможные причины ошибок
    </div>
    <div class="paragraph callout">
      Намного дешевле уменьшить последствия ошибки, предотвратив ее, чем искать ее и вносить исправления. Единственным
      способом достижения этого является анализ причин возникновения ошибок по мере их обнаружения.
    </div>
    <div class="paragraph">
      При поверхностном взгляде кажется, что это хороший принцип, особенно на стадии конструирования (construction),
      когда
      высока вероятность повторения ошибок. Однако в результате анализа ошибок в сложных программных системах оказалось,
      что одним из критичных источников ошибок являются излишний анализ и излишнее проектирование, выполняемые на бумаге
      на ранних стадиях проекта. В некоторой степени излишняя работа была направлена на предотвращение ошибок. Это
      приводило к уменьшению отдачи от вложенных ресурсов по сравнению с тем, что могло бы быть получено при переходе к
      созданию прототипов и построению системы, при котором ошибки оказываются более очевидными и осязаемыми. Таким
      образом, я бы разбил данное утверждение на два принципа: (1) не бойтесь делать ошибки на стадии разработки, (2)
      анализируйте причины ошибок на этапе производства.
    </div>
    <div class="subtitle">
      #28 Знайте, что энтропия ПО возрастает
    </div>
    <div class="paragraph callout">
      Сложность любой программной системы, претерпевающей множественные изменения, возрастает, и она становится все
      менее
      и менее организованной.
    </div>
    <div class="paragraph">
      Это еще один пережиток традиционной архитектуры ПО. Почти все программные системы подвергаются множественным
      изменениям, а признаком непродуманной архитектуры является рост энтропии таким образом, что ею трудно управлять.
      Энтропия имеет тенденцию возрастать в угрожающих размерах, когда интерфейсы начинают изменяться из тактических
      соображений. Целостность архитектуры — это понятие прежде всего стратегическое, и следить за ней необходимо с
      особой
      тщательностью. Современные инструменты управления изменениями заставляют уважать проект и следовать целостности
      интерфейса. Качественная архитектура — это такая архитектура, энтропия в которой растет минимально, а изменения
      могут вноситься со стабильным, предсказуемым результатом. Идеальная архитектура позволила бы вносить изменения без
      какого бы то ни было роста энтропии.
    </div>
    <div class="subtitle">
      #29 Люди и время не взаимозаменяемы
    </div>
    <div class="paragraph callout">
      Измерение проекта только в человеко-месяцах имеет мало смысла.
    </div>
    <div class="paragraph">
      Это вечный принцип.
    </div>
    <div class="subtitle">
      #30 Ожидайте лучшего
    </div>
    <div class="paragraph callout">
      Ваши работники будут стараться гораздо больше, если вы ожидаете от них многого.
    </div>
    <div class="paragraph">
      Этот принцип применим ко всем дисциплинам, а не только к управлению созданием ПО.
    </div>
    <div class="paragraph">
      Я использовал некоторые провокационные слова в своих комментариях. Я не ставил перед собой цели подтвердить или
      опровергнуть принципы Девиса, а лишь хотел продемонстрировать свои пристрастия и спровоцировать на размышления. В
      то время как примерно половина принципов, на мой взгляд, имеет огромную пользу, вторая половина либо нуждается в
      изменении приоритетов, либо была вытеснена новой технологией.
    </div>
    <div class="subtitle">
      Современные принципы управления созданием ПО
    </div>
    <div class="paragraph">
      Сегодняшние принципы управления созданием ПО, описанные в предыдущем разделе, развиваются и совершенствуются на
      базе традиционных методов, однако в них не выделены современные принципы, на которых основывается данная книга.
      Вот мои первые 10 принципов управления созданием ПО, представленные в том же формате, что и принципы Девиса. Все
      принципы расположены в порядке своей значимости, а слова, выделенные жирным курсивом, используются в дальнейшем в
      качестве сокращенного варианта развернутых определений.
    </div>
    <div class="paragraph callout">
        Основывайте процесс на упреждающей разработке архитектуры.
    </div>
    <div class="paragraph">
      Это потребует достижения очевидного баланса между ведущими требованиями, архитектурно значимыми решениями при
      разработке и планированием жизненного цикла до того, как будут задействованы ресурсы для полномасштабной
      разработки.
    </div>
    <div class="paragraph callout">
        Стройте итерационный процесс жизненного цикла таким образом, чтобы он сталкивался с рисками на ранних этапах.
    </div>
    <div class="paragraph">
      В сегодняшних сложнейших программных системах совершенно невозможно последовательно описать проблему целиком,
      полностью разработать ее решение, создать ПО, после чего протестировать конечный продукт. Напротив, итерационный
      процесс улучшает понимание проблемы, повышает эффективность решения и плана действий и способствует взвешенному
      рассмотрению всех задач разработчика. Основные риски должны быть разрешены на ранних стадиях для того, чтобы
      повысить предсказуемость и избежать дорогостоящих дефектов и доработок, требующих возврата на более ранние стадии
      разработки.
    </div>
    <div class="paragraph callout">
        Изменяйте методы разработки с тем, чтобы перейти к разработке, основанной на компонентах.
    </div>
    <div class="paragraph">
      Переход от склада ума, ориентированного на строки кода, к складу ума, ориентированному на компоненты, является
      необходимым для уменьшения количества кода, написанного человеком, и разработок на заказ. Компонент — это связный
      набор заранее написанных строк кода в исходном или выполняемом формате, для которого описаны интерфейс и
      поведение.
    </div>
    <div class="paragraph callout">
        Создавайте среду для управления изменениями.
    </div>
    <div class="paragraph">
      Динамика итерационного процесса, включающего в себя параллельную работу различных команд над одними и теми же
      продуктами, влечет за собой необходимость объективного контроля над основными результатами.
    </div>
    <div class="paragraph callout">
        Повышайте легкость внесения изменений с помощью инструментария, поддерживающего «круговую» разработку.
    </div>
    <div class="paragraph">
      «Круговая» разработка — это поддержка среды, необходимая для автоматизации и синхронизации рабочей информации в
      различных форматах (таких, как спецификации требований, проектные модели, исходный код, выполняемый код, тестовые
      варианты). Без существенной автоматизации учета использования системных ресурсов, управления изменениями,
      документирования и тестирования трудно вместить итерацию в приемлемые временные рамки, при которых внесение
      изменений приветствуется, а не избегается. Легкость внесения изменений — необходимая составляющая итерационного
      процесса, а создание интегрированной среды является критичным.
    </div>
    <div class="paragraph callout">
        Представляйте рабочие продукты проектирования в строгой, основанной на моделях нотации.
    </div>
    <div class="paragraph">
      Подход, основанный на моделировании (например, UML), поддерживает развитие семантически богатых графических и
      текстуальных нотаций для описания проекта. Визуальное моделирование с использованием строгих нотаций и
      формального, пригодного для машинной обработки языка предоставляет гораздо больше средств достижения цели, чем
      традиционный подход просмотра и оценки проекта, представленного в виде бумажных документов, человеком.
    </div>
    <div class="paragraph callout">
        Обеспечивайте процесс инструментами для объективного контроля за качеством и оценки прогресса.
    </div>
    <div class="paragraph">
      Необходимо включить в процесс оценку прогресса и качества всех промежуточных продуктов в течение всего жизненного
      цикла. Лучшими механизмами оценки являются хорошо описанные измерения, следующие непосредственно из рабочих
      продуктов и внедренные во все виды деятельности и команды.
    </div>
    <div class="paragraph callout">
        Используйте подход, основанный на демонстрациях, для оценки промежуточных продуктов.
    </div>
    <div class="paragraph">
      Перевод рабочих продуктов, соответствующих текущему состоянию проекта (этими материалами могут быть ранний
      прототип, базовая архитектура или бета-версия некоторой функциональности), в выполняемую демонстрационную версию с
      соответствующими сценариями стимулирует раннее осуществление интеграции, более полное осознание компромиссов при
      разработке и раннее избавление от ошибок в архитектуре.
    </div>
    <div class="paragraph callout">
        Планируйте промежуточные версии для различных групп сценариев использования со все возрастающим уровнем
        детализации.
    </div>
    <div class="paragraph">
      Существенным является то, что процесс управления созданием ПО приводит к ранним и постоянным демонстрациям в
      рамках функционального контекста системы (отдельных вариантов использования). Эволюция последовательных изменений
      проекта и его поколений должна быть соразмерна текущему уровню понимания. В этом случае связные сценарии
      использования оказываются главным механизмом для организации требований, описания содержания итерации, оценки
      реализаций и организации приемочного тестирования.
    </div>
    <div class="paragraph callout">
        Организуйте конфигурируемый процесс, который окажется экономически масштабируемым.
    </div>
    <div class="paragraph">
      Никакой конкретный процесс не может быть пригоден для всех разработок ПО. Практический подход предполагает, что
      необходимо иметь возможность конфигурирования процесса для широкого спектра приложений. Процесс должен
      гарантировать экономию при больших масштабах и возврат инвестиций за счет использования общего духа самого
      процесса, широкой автоматизации и общих архитектурных образцов и компонентов.
    </div>
    <div class="paragraph">
      Однако они представляют собой сбалансированный взгляд на те повторяющиеся темы, которые представлены в настоящей
      книге. В следующей таблице приведено соответствие между тем, что я считаю 10-ю главными рисками традиционного
      процесса, и ключевыми атрибутами и принципами современного процесса. В таблице содержатся грубые обобщения, но она
      является введением в принципы современного процесса.
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Подходы, используемые в современном процессе для решения проблем традиционного
        подхода
      </div>

      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="col-md-4">Традиционный процесс</th>
          <th class="col-md-2">Влияет на</th>
          <th class="col-md-6">Современный подход</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            Поздние поломки и избыточные дефекты/доработки
          </td>
          <td>
            Качество,
            стоимость,
            сроки
          </td>
          <td>
            Подход с упреждающей разработкой архитектуры
            Итерационная разработка
            Автоматизированное управление изменениями
            Процесс, противостоящий рискам
          </td>
        </tr>
        <tr>
          <td>
            Увольнение ключевых сотрудников
          </td>
          <td>
            Качество,
            стоимость,
            сроки
          </td>
          <td>
            Успешное выполнение первых итераций
            Заслуживающие доверия управление и планирование
          </td>
        </tr>
        <tr>
          <td>
            Неадекватные ресурсы для разработки
          </td>
          <td>
            Стоимость,
            сроки
          </td>
          <td>
            Среда как важнейшая составляющая процесса
            Предназначенная специально для производства интегрированная среда
            Продукты разработки, основанные на моделях
            «Круговая» разработка
          </td>
        </tr>
        <tr>
          <td>
            Антагонизм между заинтересованными сторонами
          </td>
          <td>
            Стоимость,
            сроки
          </td>
          <td>
            Обзоры, основанные на демонстрациях
            Ориентированные на варианты использова­ния требования/тестирование
          </td>
        </tr>
        <tr>
          <td>
            Технологические проблемы
          </td>
          <td>
            Стоимость,
            сроки
          </td>
          <td>
            Подход с упреждающей разработкой архитектуры
            Компонентно-ориентированная разработка
          </td>
        </tr>
        <tr>
          <td>
            «Ползучее» изменение требований
          </td>
          <td>
            Стоимость,
            сроки
          </td>
          <td>
            Итерационная разработка Моделирование вариантов использования
          </td>
        </tr>
        <tr>
          <td>
            Паралич анализа
          </td>
          <td>
            Сроки
          </td>
          <td>
            Обзоры, основанные на демонстрации
            Ориентированные на варианты использования требования/тестирование
          </td>
        </tr>
        <tr>
          <td>
            Ненадлежащая производительность
          </td>
          <td>
            Качество
          </td>
          <td>
            Оценка производительности, основанная на демонстрации
            Раннее установление обратной связи между архитектурой и производительностью
          </td>
        </tr>
        <tr>
          <td>
            Чрезмерное внимание рабочим продуктам
          </td>
          <td>
            Сроки
          </td>
          <td>
            Оценка, основанная на демонстрации Объективный контроль качества
          </td>
        </tr>
        <tr>
          <td>
            Ненадлежащее функционирование
          </td>
          <td>
            Качество
          </td>
          <td>
            Итерационная разработка
            Ранние прототипы, последовательные версии
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="subtitle">
      Переход к итерационному процессу
    </div>
    <div class="paragraph">
      Современные процессы разработки ПО отошли от традиционной водопадной модели, в которой каждая следующая стадия
      зависит от завершения предыдущей. Возможны различные варианты, но обычно современные подходы требуют быстрого
      создания первоначальной версии системы на ранних этапах процесса разработки, в которой бы уделялось особое
      внимание высоким рискам, стабилизации базовой архитектуры и уточнению основных требований (с широким привлечением
      пользователей там, где это возможно). Дальнейшая разработка протекает как последовательность итераций,
      надстраивающих архитектурное ядро до тех пор, пока не будут достигнуты желаемые уровни функциональности,
      производительности и стабильности. (Эти итерации называют спиралью, последовательными шагами, поколениями или
      версиями.) Итерационный процесс имеет дело с системой в целом, а не с отдельными ее частями. Риск уменьшается на
      ранних стадиях жизненного цикла за счет непрерывной интеграции и уточнения требований, архитектуры и планов.
      Не-ожиданности, требующие возврата на более ранние стадии и являющиеся бичом традиционных проектов, исключаются.
    </div>
    <div class="paragraph">
      Экономические преимущества, сопутствующие переходу от традиционной водопадной модели к итерационному процессу
      разработки, значительны, но трудно поддаются количественному определению. В качестве одной из возможных точек
      отсчета для вычисления ожидаемого экономического эффекта от улучшения процесса можно рассмотреть
      экспоненциальные параметры процесса в модели СОСОМО II. Эта экспонента может находиться в
      диапазоне от 1.01 (практически отсутствует плата за большой масштаб) до 1.26 (существенная плата за большой
      масштаб). К параметрам, определяющим значение экспоненты процесса, относятся наличие прецедентов для приложений,
      гибкость процесса, разрешение архитектурных рисков, сплоченность команды и зрелость процесса создания ПО.
    </div>
    <div class="paragraph">
      Ниже показано, какие параметры экспоненты процесса по СОСОМО II соответствуют моим 10 наиважнейшим принципам
      современного процесса.
    </div>
    <div class="subtitle">
      Наличие прецедентов приложений
    </div>
    <div class="paragraph">
      Опыт в конкретной области является критичным фактором для понимания того, как планировать и выполнять проект. Для
      систем, не имеющих прецедентов, одной из ключевых задач является определение рисков и создание прецедентов на
      ранних этапах, пусть даже они будут незаконченными или экспериментальными. Это одна из главных причин, по которой
      индустрия ПО перешла к итерационным процессам жизненного цикла. Итерации, выполняемые на ранних стадиях жизненного
      цикла, создают прецеденты, на основе которых продукт, процесс и планы могут разрабатываться со все возрастающей
      степенью детализации.
    </div>
    <div class="subtitle">
      Гибкость процесса
    </div>
    <div class="paragraph">
      Разработка современного ПО характеризуется таким широким пространством решений и таким большим количеством
      взаимосвязанных понятий, что возникает необходимость постоянного внесения изменений. Эти изменения могут быть
      присущи пониманию проблемы, пространству решений или планированию. Для аффективного управления изменениями рабочие
      продукты проекта должны иметь поддержку среды, соразмерную требованиям проекта. Как чересчур жесткие процессы, так
      и процессы с хаотическими изменениями обречены на провал, за исключением наиболее тривиальных случаев. Для
      достижения возврата инвестиций в ПО необходим настраиваемый процесс, который позволяет приспособить общую схему
      для целого спектра проектов.
    </div>
    <div class="subtitle">
      Разрешение рисков, связанных с архитектурой
    </div>
    <div class="paragraph">
      В основе успешного итерационного процесса разработки лежит упреждающая разработка архитектуры. Команда
      разработчиков создает и добивается стабильности архитектуры до того, как приступить к разработке всего набора
      компонентов приложений. Подход с упреждающей разработкой архитектуры, основанный на компонентах, требует, чтобы
      инфраструктура, общие и управляющие механизмы были созданы на ранних стадиях жизненного цикла, и включает принятие
      решений о создании/покупке компонентов в процесс определения архитектуры. Такой подход инициирует начало
      интеграции на ранних стадиях жизненного цикла и верификации процесса разработки и продукта. Он также заставляет
      настроить и испытать среду разработки на ранних ее стадиях, способствуя таким образом раннему привлечению внимания
      к вопросам тестирования и оценок, основанных на демонстрации.
    </div>
    <div class="subtitle">
      Сплоченность команды
    </div>
    <div class="paragraph">
      Успешные команды сплочены, а сплоченные команды успешны. Нельзя с уверенностью утверждать, что является причиной,
      а что — следствием, но и сплоченные, и успешные команды имеют общие цели и приоритеты. Сплоченные команды избегают
      всего, что может стать источником проблем и роста энтропии проекта, являющегося результатом трудностей, которые
      возникают при попытке синхронизации требований различных заинтересованных сторон. Существует множество возможных
      причин для такого рода возмущений, но одной из основных является недостаток взаимодействия, в частности, обмен
      информацией исключительно посредством бумажных документов,, представляющих информацию субъективно. Достижения
      технологии (такие, как языки программирования, UML и визуальное моделирование) привели к появлению более строгих и
      понятных нотаций для обмена информацией, касающейся разработки ПО, особенно в части материалов по требованиям и по
      разработке, которые раньше были узкоспециализированными и целиком основывались на обмене бумагами. Форматы,
      основанные на моделях, оказались также способны поддерживать «круговую» разработку, необходимую для облегчения
      внесения изменений, что требуется для развития представлений проекта.
    </div>
    <div class="subtitle">
      Зрелость процесса создания ПО
    </div>
    <div class="paragraph">
      В качестве общепринятой точки отсчета при оценке процесса создания ПО используется предложенная Институтом
      программной инженерии (SEI) модель технологической зрелости (Capability Maturity Model, СММ). Подобно тому, как
      опыт в конкретной области знаний критичен и позволяет избегать рисков и использовать ценные качества и полученные
      уроки, так и технологическая зрелость процесса создания ПО критична и позволяет избегать рисков при разработке ПО
      и использовать ценные качества и полученные уроки в рамках данной организации. («За» и «против» СММ подробно
      обсуждаются в приложении Е.) Одной из ключевых тем данной книги является то, что действительно зрелый процесс
      может возникать только в рамках интегрированной среды, которая обеспечивает адекватный уровень автоматизации
      процесса для объективного контроля качества.
    </div>
  </div>
</div>
